{# Template for discipline creation and edit form #}

{% extends "base.html" %}

{% load group_extras %}

{% block title %}Discipline form{% endblock %}

{% block content %}
  {# Including page title #}
  {% original_query_string next_url as next_url %}
  {% if action == 'C' %}
    {% with page_title='Добавление дисциплины' %}
      {% include 'page_heading.html' with back_url='curriculum:discipline_list' page_title=page_title list_url='curriculum:discipline_list' next_url=next_url %}
    {% endwith %}
  {% elif action == 'U' %}
    {% with page_title='Изменение дисциплины' %}
      {% include 'page_heading.html' with back_url='curriculum:discipline_list' page_title=page_title list_url='curriculum:discipline_list' next_url=next_url %}
    {% endwith %}
  {% else %}
    {% with page_title='Форма дисциплины' %}
      {% include 'page_heading.html' with back_url='curriculum:discipline_list' page_title=page_title list_url='curriculum:discipline_list' next_url=next_url %}
    {% endwith %}
  {% endif %}

  {% include 'form_success.html' with form=discipline_form %}
  <form class="register_form register_discipline" method="post">
    {{ discipline_form.as_div }}
    {% csrf_token %}
    <div>
      <input class="controller_button form_submit_button__reg"
        type="submit"
        value="{% if action == 'C' %}Добавить{% elif action == 'U' %}Изменить{% else %}Подтвердить{% endif %}" />
    </div>
  </form>

{% endblock %}