{# Template for list of disciplines #}

{% extends "base.html" %}

{% load group_extras %}
{% load static %}

{% block page_scripts %}
    {% load static %}
    <link href="{% static 'css/list.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Discipline list{% endblock %}

{% block content %}
  {% with request.path as this_url %}
    {% get_url_params request as url_params %}
    {% if url_params %}
    {% change_query_string this_url|add_str:"?"|add_str:url_params as this_url %}
    {% endif %}
    <div class="page_title">
      {# Including page title #}
      {% original_query_string next_url as next_url %}
      {% include "page_heading.html" with back_url="curriculum:discipline_list" page_title="Список дисциплин" next_url=next_url %}
      {# Including add button #}
      {% if perms.timetable.add_discipline %}
        {% url 'curriculum:discipline_register' as add_url %}
        {% include "add_button.html" with add_link=add_url|add_str:"?next="|add_str:this_url add_txt="Дисциплина" %}
      {% endif %}
    </div>

    {% include "success_msg.html" %}
    <div class="items_list list_wrapper">
      {% for discipline in disciplines %}
        <div class="list_item">
          <div class="item_title">
            <a href="{{ discipline.get_absolute_url }}{% if this_url %}?next={{this_url}}{% endif %}">
              <h2 class="item_title_heading">
                {{ discipline.name }}
              </h2>
            </a>
          </div>
          {# Including control buttons edit and delete #}
          {% if perms.timetable.change_discipline or perms.timetable.delete_discipline %}
            {% with edit_link=None del_link=None %}
              {% if perms.timetable.change_discipline %}
                {% update_variable discipline.get_edit_url as edit_link %}
              {% endif %}
              {% if perms.timetable.delete_discipline %}
                {% update_variable discipline.get_delete_url as del_link %}
              {% endif %}
              {% include "buttons_controllers.html" with edit_link=edit_link next_edit_link=this_url del_link=del_link next_del_link=this_url %}
            {% endwith %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% include "pagination.html" with page=disciplines %}
  {% endwith %}
{% endblock %}