{# Template for lesson in timetable creation and edit form #}

{% extends "base.html" %}

{% load group_extras %}

{% block page_scripts %}
 {% load static %}
  <script src="{% static 'js/tt_lesson_form.js' %}"></script>
{% endblock %}

{% block title %}Create a lesson{% endblock %}

{% block content %}
  {# Including page title #}
  {% original_query_string next_url as next_url %}

  {% if action == 'C' %}
    {% with page_title='Добавление занятия в расписание' %}
      {% include 'page_heading.html' with back_url="group:group_list" page_title=page_title next_url=next_url %}
    {% endwith %}
  {% elif action == 'U' %}
    {% with page_title='Изменение занятия в расписание' %}
      {% include 'page_heading.html' with back_url="group:group_list" page_title=page_title next_url=next_url %}
    {% endwith %}
  {% else %}
    {% with page_title='Форма занятие в расписании' %}
      {% include 'page_heading.html' with back_url="group:group_list" page_title=page_title next_url=next_url %}
    {% endwith %}
  {% endif %}

  {% include 'form_success.html' with form=tt_lesson_form %}
  <form class="register_form register_tt_lesson" method="post">
    {{ tt_lesson_form.as_div }}
    {% csrf_token %}
    <div>
      <input class="controller_button form_submit_button__reg"
        type="submit"
        value="{% if action == 'C' %}Добавить{% elif action == 'U' %}Изменить{% else %}Подтвердить{% endif %}" />
    </div>
  </form>
{% endblock %}