:root {
  --button-confirm-color: #12c064;

  --button-confirm-color-hover: brightness(0) saturate(100%) invert(36%)
    sepia(44%) saturate(2336%) hue-rotate(123deg) brightness(95%) contrast(87%);

  --primary-text-color: #000000;
  --primary-backgroud-color: #e4e4e4;
  --secondary-text-color: #ffffff;
  --button-edit-color: #0055bb;
  --primary-border-radius: 6px;
}

* {
  box-sizing: border-box;
}

.list_ctrl_add__blue {
  position: relative;
  /* display: inline-block; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--button-edit-color);

  padding: 9px 30px;

  border: 1px solid var(--button-edit-color);
  border-radius: var(--primary-border-radius);
  max-width: max-content;
  cursor: pointer;
}

.list_ctrl_add_img__blue {
  height: 12px;
  width: 12px;
  line-height: 14px;
  filter: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(0%)
    hue-rotate(108deg) brightness(104%) contrast(105%);
}

.list_ctrl_add_txt__blue {
  text-align: center;
  vertical-align: middle;
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: right;
}

.list_ctrl_add__blue:hover .list_ctrl_add_img__blue {
  filter: var(--button-confirm-color-hover);
}

.list_ctrl_add__blue:hover .tooltiptext {
  visibility: visible;
}
