/* CSS file for add button template */

.form_controllers_back {
  height: min-content;
}

.form_controllers_back:hover {
  filter: var(--primary-button-filter);
}

.form_controllers_back_img {
  display: block;
  cursor: pointer;
  height: 22px;
  width: 22px;
}
