/* @import url(//fonts.googleapis.com/css?family=Muli); */

@font-face {
  font-family: "Circe Rounded";
  src: url("../fonts/CirceRounded-ExtraLight.eot");
  src: local("Circe Rounded Extra Light"), local("CirceRounded-ExtraLight"),
    url("../fonts/CirceRounded-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/CirceRounded-ExtraLight.woff2") format("woff2"),
    url("../fonts/CirceRounded-ExtraLight.woff") format("woff"),
    url("../fonts/CirceRounded-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("../fonts/CirceRounded-Regular2.eot");
  src: local("Circe Rounded  Regular 2"), local("CirceRounded-Regular2"),
    url("../fonts/CirceRounded-Regular2.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRounded-Regular2.woff2") format("woff2"),
    url("../fonts/CirceRounded-Regular2.woff") format("woff"),
    url("../fonts/CirceRounded-Regular2.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded Alt";
  src: url("../fonts/CirceRoundedAlt-Regular2.eot");
  src: local("Circe Rounded Alt  Regular 2"), local("CirceRoundedAlt-Regular2"),
    url("../fonts/CirceRoundedAlt-Regular2.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/CirceRoundedAlt-Regular2.woff2") format("woff2"),
    url("../fonts/CirceRoundedAlt-Regular2.woff") format("woff"),
    url("../fonts/CirceRoundedAlt-Regular2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("../fonts/CirceRounded-Regular3.eot");
  src: local("Circe Rounded  Regular 3"), local("CirceRounded-Regular3"),
    url("../fonts/CirceRounded-Regular3.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRounded-Regular3.woff2") format("woff2"),
    url("../fonts/CirceRounded-Regular3.woff") format("woff"),
    url("../fonts/CirceRounded-Regular3.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("../fonts/CirceRounded-Regular5.eot");
  src: local("Circe Rounded  Regular 5"), local("CirceRounded-Regular5"),
    url("../fonts/CirceRounded-Regular5.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRounded-Regular5.woff2") format("woff2"),
    url("../fonts/CirceRounded-Regular5.woff") format("woff"),
    url("../fonts/CirceRounded-Regular5.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("CirceRounded-Regular.eot");
  src: local("Circe Rounded"), local("CirceRounded-Regular"),
    url("../fonts/CirceRounded-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRounded-Regular.woff2") format("woff2"),
    url("../fonts/CirceRounded-Regular.woff") format("woff"),
    url("../fonts/CirceRounded-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded Alt";
  src: url("../fonts/CirceRounded-AltBold.eot");
  src: local("Circe Rounded Alt Bold"), local("CirceRounded-AltBold"),
    url("../fonts/CirceRounded-AltBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRounded-AltBold.woff2") format("woff2"),
    url("../fonts/CirceRounded-AltBold.woff") format("woff"),
    url("../fonts/CirceRounded-AltBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("../fonts/CirceRounded-Regular4.eot");
  src: local("Circe Rounded  Regular 4"), local("CirceRounded-Regular4"),
    url("../fonts/CirceRounded-Regular4.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRounded-Regular4.woff2") format("woff2"),
    url("../fonts/CirceRounded-Regular4.woff") format("woff"),
    url("../fonts/CirceRounded-Regular4.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --secondary-text-color: #808082;
  --secondary-text-filter: brightness(0) saturate(100%) invert(21%) sepia(8%)
    saturate(62%) hue-rotate(202deg) brightness(93%) contrast(92%);
  --msg-success-bg-color: #dcfff1;
  --msg-success-border-color: #22a06b;
  --msg-warning-bg-color: #fff7d6;
  --msg-warning-border-color: #e56910;
  --msg-error-bg-color: #ffeceb;
  --msg-error-border-color: #e2483d;
  --msg-primary-text-color: #172b4d;

  --button-confirm-color: #12c064;
  /* --button-confirm-color-hover: #109950; */
  --button-confirm-color-hover: brightness(0) saturate(100%) invert(36%)
    sepia(44%) saturate(2336%) hue-rotate(123deg) brightness(95%) contrast(87%);

  --button-cancel-color: #c01512;
  /* --button-cancel-color-hover: #a11210; */
  --button-cancel-color-hover: brightness(0) saturate(100%) invert(15%)
    sepia(29%) saturate(6303%) hue-rotate(347deg) brightness(111%)
    contrast(106%);

  --primary-border-radius: 6px;
}

* {
  font-family: "Circe Rounded", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Circe Rounded", sans-serif;
}

p {
  line-height: 1.8;
  margin: 0;
}

a {
  color: #0055b2;
  text-decoration: none;
}

a:hover {
  color: #003273;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Circe Rounded", sans-serif;
  font-weight: 500;
}

h1 {
  /* padding: 8px 8px 16px 8px; */
  margin: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  margin: 0;
}

ol {
  line-height: 1.5;
}

#header {
  padding: 10px 100px;
  font-size: 14px;
  background: #12c064;
  color: #fff;
  border-bottom: 4px solid #1cdf78;
  overflow: auto;
}

#header .logo {
  font-family: "Muli", sans-serif;
  float: left;
  color: #f3f7cc;
  font-size: 20px;
  margin-right: 10%;
}

#header ul.menu {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}
#header ul.menu li {
  float: left;
  padding: 4px 10px;
}

#header ul.menu li.selected a,
#header ul.menu li.selected a:hover {
  color: #1b6d32;
  font-weight: bold;
}

#header a {
  color: #f3f7cc;
}
#header a:hover {
  color: #fff;
}

#header .user {
  float: right;
  padding-top: 4px;
}

.main_content {
  display: flex;
  padding: 0 100px 30px 100px;
  gap: 30px;
}

.navigation {
  flex: 1 1 auto;
  background-color: fuchsia;
}

#content {
  padding-top: 30px;
  flex: 2 1 auto;
}

/* forms */
form {
  overflow: auto;
}

form p {
  width: 100%;
  overflow: auto;
}

label {
  font-weight: 200;
}

/* label {
  float: left;
  clear: both;
  color: #333;
  margin-bottom: 4px;
} */
/* input, */
textarea {
  clear: both;
  float: left;
  margin: 0 0 10px;
  background: #efefef;
  border: 0;
  padding: 6px 10px;
  font-size: 14px;
}

a.button {
  font-weight: bold;
  background: #12c064;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
}

input[type="submit"] {
  /* font-weight: bold;
  background: #12c064;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase; */
  margin: 0;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #109950;
}

.errorlist {
  color: #cc0033;
  float: left;
  clear: both;
  padding-left: 10px;
}
.helptext {
  margin: 0 0 20px 0;
  color: #aaa;
  clear: both;
  float: left;
  font-size: 13px;
}
/* messages */
ul.messages {
  margin: 10px 100px;
  padding: 0;
  list-style-type: none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
  margin: 0;
  padding: 14px 20px;
  list-style: none;
  color: #fff;
}

ul.messages li.success {
  background: #81ce81;
}
ul.messages li.success a {
  color: #0ac33e;
}

ul.messages li.error {
  background: #a30029;
  color: #e9828e;
}
ul.messages li.error a {
  color: #e9828e;
}

ul.messages li.info {
  background: #faffae;
  color: #696b4e;
}
ul.messages li.info a {
  color: #1586de;
}

ul.messages li.warning {
  background: #de9404;
}
ul.messages li.warning a {
  color: #f49000;
}

ul.messages li a.close {
  margin: 0;
  float: right;
  opacity: 1;
  border: 0;
  box-shadow: none;
  text-shadow: none;
}

.login-form {
  float: left;
}

/* social-auth */
.social {
  float: right;
}
.social li {
  list-style: none;
  padding: 10px 20px;
  margin: 0 0 10px 0;
}
.social li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}
.social li.facebook {
  background: #3b5399;
}
.social li.twitter {
  background: #00cffa;
}
.social li.google {
  background: #de1710;
}

/* images */

.image-preview,
.image-detail {
  max-width: 300px;
  float: left;
  margin: 0 20px 20px 0;
}
.image-detail {
  margin-top: 20px;
}
.image-info div {
  padding: 20px 0;
  overflow: auto;
}
.count {
  color: #aaa;
  border: 3px solid #bbb;
  border-radius: 26px;
  padding: 10px 20px;
  margin: 20px 10px 0;
}
a.like,
a.follow {
  float: right;
  margin-top: -8px;
}

#image-list {
  overflow: hidden;
}
#image-list .image {
  float: left;
  width: 220px;
  height: 300px;
  margin: 0 10px 10px 10px;
  border-top: 8px solid #12c064;
  background: #eee;
}
#image-list img {
  width: 220px;
  height: 220px;
}
#image-list .info {
  padding: 10px;
}
#image-list .info a {
  color: #333;
}
.image-likes div {
  float: left;
  width: auto;
  padding: 10px;
  text-align: center;
}
.image-likes img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* users */
#people-list img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 20px;
}
#people-list .user {
  width: 180px;
  float: left;
  overflow: auto;
  padding: 10px;
}
#people-list .info {
  text-align: center;
}
img.user-detail {
  border-radius: 50%;
  float: left;
}
.profile-info {
  float: left;
  overflow: auto;
  margin-right: 20px;
}
.image-container {
  margin-top: 40px;
}

/* actions */
.action {
  clear: both;
  overflow: auto;
}
.action .images {
  float: left;
  margin: 0 10px 10px 0;
}
.action .date {
  font-style: italic;
  color: #ccc;
}

/* FORM Block */

.form_description {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

.register_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.register_form input {
  display: block;
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  padding: 8px 16px;
  border: 1px solid #0061ae;
  border-radius: var(--primary-border-radius);
}

.register_form input::placeholder {
  color: #8c9cb0;
  padding: 0;
  overflow: ellipsis;
}

form .errorlist {
  display: inline-block;
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0;
  margin: 0;
}

form div {
  display: flex;
  flex-direction: column;
}

.register_form {
  max-width: max-content;
}

/*

form > div {
  margin-bottom: 24px;
}
*/
form input {
  max-width: max-content;
}

.form_submit_button__reg {
  color: #ffffff;
  background: #0061ae;
}

.choice_input {
  display: block;
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  padding: 8px 16px;
  border: 1px solid #0061ae;
  border-radius: var(--primary-border-radius);
  color: #8c9cb0;
}

option {
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  color: #8c9cb0;
}

.register_form_checkbox {
  display: flex;
  gap: 5px;
}

.register_form_link {
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0%;
  font-style: italic;
}

.register_form_link:before {
  content: "*";
  font-style: none;
  font-family: sans-serif;
  color: #c01512;
}

.more_info_heading {
  display: flex;
  gap: 16px;
}

.more_info_title {
  margin: 8px 0;
}

.more_info_content {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

/* .delete_form_controllers {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
/* 
.controllers_confirm_cancel {
  display: flex;
  gap: 50px;
}

.form_controllers_confirm {
  width: 100px;
  border: none;
}

.form_controllers_cancel {
  font-weight: bold;
  text-align: center;
  background: #c01512;
  color: #fff;
  width: 100px;
  padding: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
}

.form_controllers_cancel:hover {
  color: #fff;
  background: #a11210;
} */

/* option:checked,
option:hover {
  background-color: #12c064;
}

select:checked,
select:focus,
select:hover {
  box-shadow: 0 0 10px 100px #12c064 inset;
} */

.msg {
  font-size: 12px;
  color: var(--msg-primary-text-color);
  border: 2px solid;
  border-radius: var(--primary-border-radius);
  padding: 9px 30px 9px 20px;
  position: relative;
  margin-bottom: 16px;
  max-width: max-content;
}

.msg_heading {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 2px;
}

.msg_title {
  font-weight: 700;
  line-height: 14px;
  margin: 0;
}

.msg_text {
  font-weight: 400;
  padding-left: 19px;
}

.success_msg__success {
  border-color: var(--msg-success-border-color);
  background-color: var(--msg-success-bg-color);
}

.success_msg__warning {
  border-color: var(--msg-warning-border-color);
  background-color: var(--msg-warning-bg-color);
}

.success_msg__error {
  border-color: var(--msg-error-border-color);
  background-color: var(--msg-error-bg-color);
}

.msg_icon {
  width: 12px;
  height: 12px;
}

.msg_cross {
  position: absolute;
  top: 5px;
  right: 5px;
}

.msg_cross:hover {
  filter: var(--secondary-text-filter);
  cursor: pointer;
}

/* TOOLTIPS */

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* max-width: 100%; */

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -20px;
  right: 105%;
}

.tooltiptext_more {
  right: 80%;
}

.page_title {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

/* .page_title_nav {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 8px 0 16px 0;
  padding: 20px 0;
} */

/* Description pages */

.details_description {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
}

.details_controllers {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.controller_button {
  padding: 9px 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid #0061ae;
  border-radius: var(--primary-border-radius);
  cursor: pointer;
}

.details_controller_button__edit {
  color: #ffffff;
  background: #0061ae;
}

.details_controller_button__delete {
  color: #0061ae;
}

/* Delete block */

.delete_object {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.delete_object_name {
  font-size: 16px;
}

.delete_object_description {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
}

.form_object_description {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
}

.form_object_description__important {
  color: #c01512;
}

.delete_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.delete_form_question {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
}

.controllers_confirm_cancel {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.delete_controllers_confirm {
  color: #ffffff;
  background: #0061ae;
}

.delete_controllers_cancel {
  color: #0061ae;
}
