/* CSS file for all pages. MAIN CSS */

@font-face {
  font-family: "Circe Rounded";
  src: url("../fonts/CirceRounded-ExtraLight.eot");
  src: local("Circe Rounded Extra Light"), local("CirceRounded-ExtraLight"),
    url("../fonts/CirceRounded-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/CirceRounded-ExtraLight.woff2") format("woff2"),
    url("../fonts/CirceRounded-ExtraLight.woff") format("woff"),
    url("../fonts/CirceRounded-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("../fonts/CirceRounded-Regular2.eot");
  src: local("Circe Rounded  Regular 2"), local("CirceRounded-Regular2"),
    url("../fonts/CirceRounded-Regular2.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRounded-Regular2.woff2") format("woff2"),
    url("../fonts/CirceRounded-Regular2.woff") format("woff"),
    url("../fonts/CirceRounded-Regular2.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded Alt";
  src: url("../fonts/CirceRoundedAlt-Regular2.eot");
  src: local("Circe Rounded Alt  Regular 2"), local("CirceRoundedAlt-Regular2"),
    url("../fonts/CirceRoundedAlt-Regular2.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/CirceRoundedAlt-Regular2.woff2") format("woff2"),
    url("../fonts/CirceRoundedAlt-Regular2.woff") format("woff"),
    url("../fonts/CirceRoundedAlt-Regular2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("../fonts/CirceRounded-Regular3.eot");
  src: local("Circe Rounded  Regular 3"), local("CirceRounded-Regular3"),
    url("../fonts/CirceRounded-Regular3.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRounded-Regular3.woff2") format("woff2"),
    url("../fonts/CirceRounded-Regular3.woff") format("woff"),
    url("../fonts/CirceRounded-Regular3.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("../fonts/CirceRounded-Regular5.eot");
  src: local("Circe Rounded  Regular 5"), local("CirceRounded-Regular5"),
    url("../fonts/CirceRounded-Regular5.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRounded-Regular5.woff2") format("woff2"),
    url("../fonts/CirceRounded-Regular5.woff") format("woff"),
    url("../fonts/CirceRounded-Regular5.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("CirceRounded-Regular.eot");
  src: local("Circe Rounded"), local("CirceRounded-Regular"),
    url("../fonts/CirceRounded-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRounded-Regular.woff2") format("woff2"),
    url("../fonts/CirceRounded-Regular.woff") format("woff"),
    url("../fonts/CirceRounded-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded Alt";
  src: url("../fonts/CirceRounded-AltBold.eot");
  src: local("Circe Rounded Alt Bold"), local("CirceRounded-AltBold"),
    url("../fonts/CirceRounded-AltBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRounded-AltBold.woff2") format("woff2"),
    url("../fonts/CirceRounded-AltBold.woff") format("woff"),
    url("../fonts/CirceRounded-AltBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("../fonts/CirceRounded-Regular4.eot");
  src: local("Circe Rounded  Regular 4"), local("CirceRounded-Regular4"),
    url("../fonts/CirceRounded-Regular4.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CirceRounded-Regular4.woff2") format("woff2"),
    url("../fonts/CirceRounded-Regular4.woff") format("woff"),
    url("../fonts/CirceRounded-Regular4.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --primary-text-color: #000000;

  --primary-bg-color: #e4e4e4;
  --primary-bg-color-hover: #dad7d7;
  --primary-bg-color-filter: brightness(0) saturate(100%) invert(74%) sepia(71%)
    saturate(5%) hue-rotate(347deg) brightness(101%) contrast(95%);

  --header-text-color: #ffffff;
  --header-text-color-filter: brightness(0) saturate(100%) invert(97%) sepia(0%)
    saturate(0%) hue-rotate(108deg) brightness(104%) contrast(105%);
  --header-text-color-hover: #dbd7d7;

  --secondary-bg-color: #0061ae;
  --secondary-bg-color-hover: #094e86;
  --secondary-bg-color-filter: brightness(0) saturate(100%) invert(12%)
    sepia(73%) saturate(5329%) hue-rotate(196deg) brightness(87%) contrast(93%);

  --primary-placehoder-color: #8c9cb0;

  --primary-button-filter: brightness(0) saturate(100%) invert(47%) sepia(0%)
    saturate(999%) hue-rotate(55deg) brightness(91%) contrast(83%);

  /* Mostly unused colors. May be useful */
  --red-color: #c01512;
  --red-color-hover: #aa0202;
  --green-color: #12c064;
  --green-color-hover: #109950;
  --grey-color: #808082;
  --grey-color-hover: #717175;
  --turquolse-color: #dcfff1;

  /* Colors for pop-up messages */
  --msg-success-bg-color: #dcfff1;
  --msg-success-border-color: #22a06b;
  --msg-warning-bg-color: #fff7d6;
  --msg-warning-border-color: #e56910;
  --msg-error-bg-color: #ffeceb;
  --msg-error-border-color: #e2483d;
  --msg-primary-text-color: #172b4d;

  --primary-border-radius: 6px;
  --secondary-border-radius: 20px;
}

* {
  font-family: "Circe Rounded", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.8;
  margin: 0;
}

a {
  color: var(--secondary-bg-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-bg-color-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  margin: 0;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
}

h2 {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  margin: 0;
}

/* Base page block */

/* Subblock header */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 200px;
  font-size: 14px;
  background: var(--secondary-bg-color);
  color: var(--header-text-color);
  overflow: auto;
}

.header_logo {
  font-weight: 500;
  font-size: 20px;
}

.header_entrance_txt {
  font-size: 14px;
  color: var(--header-text-color);
  font-weight: 500;
  text-align: center;
  border: none;
  background: none;
  padding: 0;
}

.header_entrance_txt:hover {
  color: var(--header-text-color-hover);
}

/* Subblock navigation */

.navigation {
  width: 300px;
  padding: 8px;
  background-color: var(----primary-bg-color-color);
  max-height: max-content;
  border-radius: var(--primary-border-radius);
}

/* Subblock footer */

.footer {
  padding: 20px 200px;
  font-size: 14px;
  background: var(--secondary-bg-color);
  color: var(--header-text-color);
  overflow: auto;
  text-align: center;
}

.footer_txt {
  font-weight: 600;
  text-align: center;
}

/* Subblock page content */

.main_content {
  display: flex;
  padding: 30px 200px 30px 200px;
  gap: 30px;
}

.page_title {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

/* FORM Block */

form {
  overflow: auto;
}

form p {
  width: 100%;
  overflow: auto;
}

label {
  font-weight: 200;
}

form div {
  display: flex;
  flex-direction: column;
}

form input {
  max-width: max-content;
}

form .errorlist {
  display: inline-block;
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0;
  margin: 0;
}

input:focus {
  outline: 2px solid var(--secondary-bg-color-hover);
  outline-offset: -2px;
}

input[type="submit"] {
  margin: 0;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--secondary-bg-color-hover);
  border-color: var(--secondary-bg-color-hover);
}

.register_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: max-content;
}

.register_form input {
  display: block;
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  padding: 8px 16px;
  border: 1px solid var(--secondary-bg-color);
  border-radius: var(--primary-border-radius);
}

.register_form input::placeholder {
  color: var(--primary-placehoder-color);
  padding: 0;
  overflow: ellipsis;
}

.form_submit_button__reg {
  color: var(--header-text-color);
  background: var(--secondary-bg-color);
}

.errorlist {
  color: var(--red-color);
  float: left;
  clear: both;
  padding-left: 10px;
}

.helptext {
  margin: 0 0 20px 0;
  color: var(--primary-bg-color);
  clear: both;
  float: left;
  font-size: 13px;
}

/* Subblock for choices inputs in form */

.choice_input {
  display: block;
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  padding: 8px 16px;
  border: 1px solid var(--secondary-bg-color);
  border-radius: var(--primary-border-radius);
  color: var(--primary-text-color);
}

.choice_input:focus {
  outline: 2px solid var(--secondary-bg-color-hover);
  outline-offset: -2px;
}

option {
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  color: var(--primary-text-color);
}

/* Subblock for form's link */

.register_form_link {
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0%;
  font-style: italic;
}

.register_form_link:before {
  content: "*";
  font-style: none;
  font-family: sans-serif;
  color: var(--red-color);
}

/* Subblock for user details for additional information */

.register_form_checkbox {
  display: flex;
  gap: 5px;
}

.more_info_heading {
  display: flex;
  gap: 16px;
}

.more_info_title {
  margin: 8px 0;
}

.more_info_content {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

/* Pop-up message block */

.msg {
  font-size: 12px;
  color: var(--msg-primary-text-color);
  border: 2px solid;
  border-radius: var(--primary-border-radius);
  padding: 9px 30px 9px 20px;
  position: relative;
  margin-bottom: 16px;
  max-width: max-content;
}

.msg_heading {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 2px;
}

.msg_title {
  font-weight: 500;
  line-height: 14px;
  margin: 0;
}

.msg_text {
  font-weight: 600;
  padding-left: 19px;
}

.success_msg__success {
  border-color: var(--msg-success-border-color);
  background-color: var(--msg-success-bg-color);
}

.success_msg__warning {
  border-color: var(--msg-warning-border-color);
  background-color: var(--msg-warning-bg-color);
}

.success_msg__error {
  border-color: var(--msg-error-border-color);
  background-color: var(--msg-error-bg-color);
}

.msg_icon {
  width: 12px;
  height: 12px;
}

.msg_cross {
  position: absolute;
  top: 5px;
  right: 5px;
}

.msg_cross:hover {
  filter: var(--primary-button-filter);
  cursor: pointer;
}

/* TOOLTIPS */

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--primary-text-color);
  color: var(--header-text-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -20px;
  right: 105%;
}

.tooltiptext_more {
  right: 80%;
}

/* Description pages */

.details_description {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
}

.details_controllers {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.controller_button {
  padding: 9px 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid var(--secondary-bg-color);
  border-radius: var(--primary-border-radius);
  cursor: pointer;
}

.details_controller_button__edit {
  color: var(--header-text-color);
  background: var(--secondary-bg-color);
}

.details_controller_button__edit:hover {
  color: var(--header-text-color);
  background-color: var(--secondary-bg-color-hover);
  border-color: var(--secondary-bg-color-hover);
}

.details_controller_button__delete {
  color: var(--secondary-bg-color);
}

.details_controller_button__delete:hover {
  color: var(--secondary-bg-color-hover);
  border-color: var(--secondary-bg-color-hover);
}

/* Delete block */

.delete_object {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.delete_object_name {
  font-size: 16px;
}

.delete_object_description {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
}

.form_object_description {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
}

.form_object_description__important {
  color: #c01512;
}

.delete_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.delete_form_question {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
}
