:root {
  --button-edit-color: #0055bb;
  --button-edit-color-hover: brightness(0) saturate(100%) invert(14%) sepia(89%)
    saturate(1844%) hue-rotate(200deg) brightness(92%) contrast(105%);

  --button-cancel-color: #c01512;
  --button-cancel-color-hover: brightness(0) saturate(100%) invert(15%)
    sepia(29%) saturate(6303%) hue-rotate(347deg) brightness(111%)
    contrast(106%);
}

.list_ctrl {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.list_ctrl_trash {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list_ctrl_trash_img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.list_ctrl_edit {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list_ctrl_edit_img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.list_ctrl_trash:hover .list_ctrl_trash_img {
  filter: var(--button-cancel-color-hover);
}

.list_ctrl_trash:hover .tooltiptext {
  visibility: visible;
}

.list_ctrl_edit:hover .list_ctrl_edit_img {
  filter: var(--button-edit-color-hover);
}

.list_ctrl_edit:hover .tooltiptext {
  visibility: visible;
}
