/* CSS file for curriculum lesson group details template */

.curriculum_info_wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.curriculum_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Из list.css */
.list_ctrl {
  justify-content: center;
}

.semester_number_controller {
  display: flex;
  cursor: pointer;
}

.semester_number_controller_img {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
}

.semester_number_controller:hover .semester_number_controller_img {
  filter: var(--primary-button-filter);
}

.item_semester_number {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.hidden {
  display: none;
}

.item_semester_number_info {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
}

.item_semester_number_info__ctrl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item_semester_number .list_ctrl {
  margin-left: auto;
  margin-right: 20px;
}

.curriculum_discipline_item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  padding: 0 0 0 21px;
}

.curriculum_discipline_item .list_ctrl_trash_img {
  width: 16px;
  height: 16px;
}

.curriculum_discipline {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
}

.curriculum_discipline_tutor_item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  padding: 0 0 0 42px;
}

.curriculum_discipline_tutor_item .list_ctrl_edit_img,
.curriculum_discipline_tutor_item .list_ctrl_trash_img {
  width: 16px;
  height: 16px;
}

.curriculum_discipline_tutor {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
}
