/* CSS file for discipline details template */

.discipline_info_wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.discipline_info_detail_heading {
  margin-bottom: 16px;
}

.discipline_info_detail_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  padding: 0 8px 16px 8px;
}

.discipline_info_groups {
  list-style-type: none;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-row-gap: 8px;
  grid-column-gap: 20px;
  align-items: center;
  padding: 0;
}

.discipline_groups_semester_ctrl {
  align-self: center;
}

.discipline_groups_name {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  vertical-align: middle;

  padding: 0 21px;
}

.discipline_groups_ctrl {
  align-self: center;
}

.discipline_groups_ctrl .list_ctrl_trash_img {
  width: 16px;
  height: 16px;
}

/* Из list.css */
.list_ctrl {
  justify-content: center;
}

.discipline_info_tutors_list {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-row-gap: 8px;
  grid-column-gap: 20px;
}

.tutors_item {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  border-radius: var(--primary-border-radius);
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;

  display: flex;
  padding: 8px;
}

.semester_number_controller {
  display: flex;
  cursor: pointer;
}

.semester_number_controller_img {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
}

.semester_number_controller:hover .semester_number_controller_img {
  filter: var(--primary-button-filter);
}

.item_semester_number {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.hidden {
  display: none;
}
