/* CSS file for group details template */

.group_info_wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.group_info_detail_heading {
  margin-bottom: 16px;
}

.group_info_detail_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  padding: 0 8px 16px 8px;
}

.group_info_members {
  list-style-type: none;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-row-gap: 8px;
  grid-column-gap: 20px;
  align-items: center;
  padding: 0;
}

.group_members_semester_ctrl {
  align-self: center;
}

.group_members_name {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  vertical-align: middle;

  padding: 0 21px;
}

.group_members_ctrl {
  align-self: center;
}

.group_members_ctrl .list_ctrl_trash_img {
  width: 16px;
  height: 16px;
}

/* Из list.css */
.list_ctrl {
  justify-content: center;
}

.semester_number_controller {
  display: flex;
  cursor: pointer;
}

.semester_number_controller_img {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
}

.semester_number_controller:hover .semester_number_controller_img {
  filter: var(--primary-button-filter);
}

.item_semester_number {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.hidden {
  display: none;
}

.discipline_info_groups {
  display: flex;
  flex-direction: column;
}

.group_info_curriculum {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.curriculum_discipline {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  padding: 0 0 0 21px;
}

.curriculum_discipline_tutor_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, max-content);
  grid-template-rows: repeat(2, max-content);
  grid-auto-flow: column dense; */
  /* align-items: start; */
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  padding: 0 0 0 42px;
  /* width: fit-content; */
}

.discipline_type {
  /* align-self: start; */
  display: flex;
  flex-direction: row;

  gap: 10px;
  /* max-width: max-content; */
}

.discipline_tutor {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.curriculum_discipline_tutor {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;

  /* padding-right: 10px; */
  /* max-width: max-content; */
}
