/* CSS file for navigation template */

.nav_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--primary-border-radius);
  background-color: var(--primary-bg-color);
}

.nav_item_img {
  width: 32px;
  height: 32px;
}

.nav_item_txt {
  color: var(--secondary-bg-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  padding: 8px;
}

.nav_item:hover {
  background-color: var(--primary-bg-color-hover);
}

.nav_item:focus {
  background-color: var(--primary-bg-color-hover);
}

.clicked {
  background-color: var(--primary-bg-color-hover);
}
