{# Template for lesson timetable pagination #}

{% load static %}
<link href="{% static 'css/tt_lesson_controllers.css' %}" rel="stylesheet">

{% load group_extras %}

<div class="pagination">

  <span class="step-links">
    <a class="change_page" href="?week={{week}}&{{iter}}={% increment page -1 %}">
      <img
        class="change_page_img change_page_back_img"
        src="{% static 'images/next_page.svg' %}"/>
    </a>
    <span class="step-links_week">{{tt_lessons.0.date|get_nth_week_day:1|date_convert:"%d.%m.%y"}} - {{tt_lessons.0.date|get_nth_week_day:7|date_convert:"%d.%m.%y"}}</span>
    <a class="change_page" href="?week={{week}}&{{iter}}={% increment page 1 %}">
      <img
        class="change_page_img change_page_next_img"
        src="{% static 'images/next_page.svg' %}"/>
    </a>
  </span>
</div>