{% extends "base.html" %}

{% load static %}

{% block title %}Classroom form{% endblock %}

{% block content %}
{% include "back_button.html" with back_url="account:classroom_list" %}
<h1>
    {% if action == 'C' %}Добавление
    {% elif action == 'U' %}Изменение
    {% else %}Форма
    {% endif %} аудитории
</h1>
{% include "form_success.html" with form=classroom_form %}
<p>
    {% if action == 'C' %}Добавьте аудиторию, используя форму ниже:
    {% elif action == 'U' %}Измените аудиторию, используя форму ниже:
    {% else %}Используйте форму ниже:
    {% endif %}
</p>
<form class="register_classroom" method="post">
    {{ classroom_form.as_p }}
    {% csrf_token %}
    <p><input type="submit"
              value="{% if action == 'C' %}Создать{% elif action == 'U' %}Изменить{% else %}Подтвердить{% endif %}"></p>
</form>
{% endblock %}