{# Template for classroom creation and edit form #}

{% extends "base.html" %}

{% load group_extras %}
{% load static %}

{% block title %}Classroom form{% endblock %}

{% block content %}
  {# Including page title #}
  {% original_query_string next_url as next_url %}
  {% if action == 'C' %}
    {% with page_title='Добавление аудитории' %}
      {% include 'page_heading.html' with back_url='account:classroom_list' page_title=page_title list_url='account:classroom_list' next_url=next_url %}
    {% endwith %}
  {% elif action == 'U' %}
    {% with page_title='Изменение аудитории' %}
      {% include 'page_heading.html' with back_url='account:classroom_list' page_title=page_title list_url='account:classroom_list' %}
    {% endwith %}
  {% else %}
    {% with page_title='Форма аудитории' %}
      {% include 'page_heading.html' with back_url='account:classroom_list' page_title=page_title list_url='account:classroom_list' %}
    {% endwith %}
  {% endif %}

  {% include 'form_success.html' with form=classroom_form %}
  <form class="register_form register_classroom" method="post">
    {{ classroom_form.as_div }}
    {% csrf_token %}
    <div>
      <input class="controller_button form_submit_button__reg"
        type="submit"
        value="{% if action == 'C' %}Добавить{% elif action == 'U' %}Изменить{% else %}Подтвердить{% endif %}" />
    </div>
  </form>
{% endblock %}