{% extends "base.html" %}

{% load static %}

{% load group_extras %}

{% block title %}Classroom detail{% endblock %}

{% block content %}
{% include "back_button.html" with back_url="account:classroom_list" %}
<h1>Информация об аудитории</h1>
{% include "success_msg.html" %}
<h2>{{ classroom.number }}</h2>
<p>Описание: {{classroom.description}}</p>
<a href="{{ classroom.get_edit_url }}?next={% url 'account:classroom_details' classroom.classroom_id %}">Редактировать</a>
<a href="{{ classroom.get_delete_url }}?next={% url 'account:classroom_details' classroom.classroom_id %}">Удалить</a>
    <div>
        <h2>Расписание занятий</h2>
        <a href="{% url 'account:classroom_details' classroom.classroom_id %}">
            День
        </a>
        <a href="{% url 'account:classroom_details' classroom.classroom_id %}?week=True">
            Неделя
        </a>
        {% create_tt_conf_dict entity="classroom_id" entity_id=classroom.classroom_id entity_name="Аудитория" as add_classroom %}
        {% add_to_list add_classroom as entities %}

        {% include "tt_lesson/tt_lesson_detail.html" with entities=entities %}
    </div>
{% endblock %}