{% extends "base.html" %}

{% load static %}

{% block title %}Classroom delete{% endblock %}

{% block content %}
<h1>Удаление аудитории</h1>
{{next_url}}
<h2>
    {{ classroom.number }}
</h2>
<p>Описание: {{ classroom.description }}</p>
<form method="POST">
    <p>Вы точно хотите удалить эту аудиторию?</p>
    <div class="delete_form_controllers">
        <div class="controllers_confirm_cancel">
            <input class="form_controllers_confirm" type="submit" value="Да">
            <a class="form_controllers_cancel" href="{% if next_url %}{{next_url}}{% else %}{% url 'account:classroom_details' classroom.classroom_id %}{% endif %}">Отмена</a>
        </div>
        <a class="form_controllers_back" href="{% if next_url %}{{next_url}}{% else %}{% url 'account:classroom_details' classroom.classroom_id %}{% endif %}"><img
                class="form_controllers_back_img"
                src="{% static 'images/back.svg' %}"/><span>Назад</span></a>
    </div>
    {% csrf_token %}
</form>

{% endblock %}