{# Template for discipline details #}

{% extends "base.html" %}

{% load static %}
{% load group_extras %}
{% block page_scripts %}
  <link href="{% static 'css/discipline_details.css' %}" rel="stylesheet">
  <script src="{% static 'js/list.js' %}"></script>
{% endblock %}

{% block title %}Информация о дисциплине{% endblock %}

{% block content %}
  {# Including page title #}
  {% include "page_heading.html" with back_url="account:discipline_list" page_title=discipline.name list_url="account:discipline_list" %}

  {% include "success_msg.html" %}
  <div class="details_description">
    {{ discipline.description }}
  </div>
  <div class="details_controllers">
    <a class="controller_button details_controller_button__delete"
       href="{{ discipline.get_delete_url }}?next={% url 'account:discipline_details' discipline.discipline_id %}">
      Удалить
    </a>
    <a class="controller_button details_controller_button__edit"
       href="{{ discipline.get_edit_url }}?next={% url 'account:discipline_details' discipline.discipline_id %}">
      Редактировать
    </a>
  </div>
  <div class="discipline_info_wrapper">
    <div class="discipline_info_detail">
      <div class="discipline_info_detail_heading">
        <h2 class="discipline_info_detail_title">Учебные группы</h2>
        {# Including add button #}
        {% url 'account:curriculum_register' as add_url %}
        {% url 'account:discipline_details' discipline.discipline_id as next_url %}
        {% include "add_button.html" with add_link=add_url|add_str:"?discipline_id="|add_str:discipline.discipline_id|add_str:"&next="|add_str:next_url add_txt="Группа" %}
      </div>
      <div class="discipline_info_groups">
        {% if groups %}
          {# Grouping groups by semester number #}
          {% with prev_semester_num_std=-1 is_hidden="" %}
            {% for group in groups %}
              {# Check weather semester number is changed #}
              {% if prev_semester_num_std != group.group_semester_id__semester_num %}
                <div class="item_semester_number">
                  <div class="semester_number_controller">
                    <img class="semester_number_controller_img" src="{% static 'images/back.svg' %}"/>
                  </div>
                  Семестр {{group.group_semester_id__semester_num}}
                  {% if is_hidden == "" and prev_semester_num_std != -1 %}
                    {% update_variable "hidden" as is_hidden %}
                  {% endif %}
                </div>
                <div class="discipline_groups_semester_ctrl">
                  {# Including add button #}
                  {% url 'account:curriculum_register' as add_url %}
                  {% url 'account:discipline_details' discipline.discipline_id as next_url %}
                  {% include "add_button.html" with add_link=add_url|add_str:"?discipline_id="|add_str:discipline.discipline_id|add_str:"&semester_num="|add_str:group.group_semester_id__semester_num|add_str:"&next="|add_str:next_url add_txt="Дисциплина" %}
                </div>
              {% endif %}
              {% if group.group_semester_id__group_id__name %}
                <a class="discipline_groups_name toggle_name {{is_hidden}}" href="{% url 'account:group_details' group.group_semester_id__group_id__group_id %}?next={% url 'account:discipline_details' discipline.discipline_id %}">
                  <span>{{group.group_semester_id__group_id__name}}</span>
                </a>
                <div class="discipline_groups_ctrl toggle_ctrl {{is_hidden}}">
                  {# Including control buttons delete #}
                  {% url 'account:discipline_details' discipline.discipline_id as next_url %}
                  {% url 'account:curriculum_delete' group.curriculum_id as del_link %}
                  {% include "buttons_controllers.html" with del_link=del_link next_del_link=next_url %}
                </div>
              {% endif %}
              {% update_variable group.group_semester_id__semester_num as prev_semester_num_std %}
            {% endfor %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
    <div class="discipline_info_detail">
      <div class="discipline_info_detail_heading">
        <h2 class="discipline_info_detail_title">Преподаватели</h2>
        {# Including add button #}
        {% url 'account:curriculum_lesson_register' as add_url %}
        {% url 'account:discipline_details' discipline.discipline_id as next_url %}
        {% include "add_button.html" with add_link=add_url|add_str:"?discipline_id="|add_str:discipline.discipline_id|add_str:"&next="|add_str:next_url add_txt="Преподаватель" %}
      </div>
      {% if tutors %}
        <div class="discipline_info_tutors">
          <div class="discipline_info_tutors_list">
            {% for tutor in tutors %}
              <a class="tutors_item" href="{% url 'account:user_details' tutor.tutor_id__user_id__id %}">
                <span>{{tutor.tutor_id__user_id__last_name}} {{tutor.tutor_id__user_id__first_name}} {{tutor.tutor_id__user_id__second_name}}</span>
              </a>
              {# Including control buttons delete #}
                {% with request.path|add_str:"?"|add_str:request.GET.urlencode as next_url %}
                  {% url 'account:curriculum_lesson_delete' tutor.curriculum_lesson_id as del_link %}
                  {% include "buttons_controllers.html" with del_link=del_link next_del_link=next_url %}
                {% endwith %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
      </div>
  </div>
{% endblock %}