{# Template for 403 error page #}

{% extends "base.html" %}

{% block title %}Страница не найдена{% endblock %}

{% block meta %}
  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
  {# Including page title #}
  {% include "page_heading.html" with page_title="Запрашиваемая страница не найдена" %}
  <p class="content_error">Возможно, неправильно указан путь в адресной строке или страница была удалена</p>
  <p class="content_error_back">Возврат на
    <a class="content_error_back_link" href="{% url 'user:welcome' %}">
      главную страницу
    </a>
  </p>
{% endblock %}