{# Template for result of password change #}

{% extends "base.html" %}

{% block page_scripts %}
  {% load static %}
  <link href="{% static 'css/page_heading.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
  <h1 class="page_heading_title page_heading_wrapper">Пароль изменен</h1>
  <p class="form_object_description">
      Ваш пароль был успешно изменен.<br/>
      Вы можете перейти на
      <a href="{% url 'user:welcome' %}">
      главную страницу
    </a>
    .
  </p>
{% endblock %}