{# Template for resetting users password #}

{% extends "base.html" %}

{% block page_scripts %}
  {% load static %}
  <link href="{% static 'css/page_heading.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
  <h1 class="page_heading_title page_heading_wrapper">Восстановление пароля</h1>
  {% if validlink %}
    <form class="register_form register_lesson_time" method="post">
      {{ form.as_div }}
      {% csrf_token %}
      <div>
        <input class="controller_button form_submit_button__reg" type="submit" value="Подтвердить" />
      </div>
    </form>
  {% else %}
    <p class="form_object_description form_object_description__important">
      Ссылка для восстановления пароля больше недействительна, возможно пароль уже был изменен. <br/>
      Пожалуйста, получите новую ссылку для восстановления пароля.
    </p>
  {% endif %}
{% endblock %}