{# Template for password recovery done #}

{% extends "base.html" %}

{% block page_scripts %}
  {% load static %}
  <link href="{% static 'css/page_heading.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
  <h1 class="page_heading_title page_heading_wrapper">Восстановление пароля</h1>
  <p class="form_object_description">На Вашу электронную почту было отправлено письмо с инструкциями.</p>
  <p class="form_object_description">Если Вы не получили наше письмо, проверьте папку "Спам" и проверьте правильность ввода email.</p>
{% endblock %}