{# Template for curriculum creation form #}

{% extends "base.html" %}

{% load group_extras %}

{% block page_scripts %}
{% load static %}
<script src="{% static 'js/curriculum_form.js' %}"></script>
<link href="{% static 'css/curriculum_form.css' %}" rel="stylesheet">
<link href="{% static 'css/add_button.css' %}" rel="stylesheet">
<script src="https://malsup.github.io/jquery.form.js"></script>
{% endblock %}

{% block title %}Create curriculum{% endblock %}

{% block content %}
        {% with request.path as this_url %}
    {% get_url_params request as url_params %}
    {% if url_params %}
    {% change_query_string this_url|add_str:"?"|add_str:url_params as this_url %}
    {% endif %}
  {# Including page title #}
  {% original_query_string next_url as next_url %}
  {% if group %}
    {% if group %}
      {% include 'page_heading.html' with back_url="account:curriculum_lesson_group_details" back_id=group.group_id page_title="Добавление дисциплины группе" list_url='account:group_list' next_url=next_url %}
    {% elif group.student_id %}
      {% include 'page_heading.html' with back_url="account:curriculum_lesson_group_details" back_id=group.student_id page_title="Добавление дисциплины группе" list_url='account:group_list' next_url=next_url %}
    {% endif %}
  {% else %}
     {% include 'page_heading.html' with back_url="account:group_list" page_title="Добавление дисциплины группе" list_url='account:group_list' next_url=next_url %}
  {% endif %}


{% include "form_success.html" with form=curriculum_form %}
<form class="register_form curriculum_group_form" method="post" data-url-img="{% static 'images' %}" novalidate>
    <div class="curriculum_group_form_content">
    <div class="curriculum_group_input__wrapper">
        <div class="group_list__wrapper">
            <div class="group_list">
                {% if curriculum_form.errors %}
                {% for field, errors in curriculum_form.errors.items %}
                {% if field == "group_semester_id" %}
                <ul class="errorlist">
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endfor %}
                {% endif %}
                {{ curriculum_form.group_semester_id }}
            </div>
            <button class="list_ctrl_add" id="group_list_add_button">
                <img class="list_ctrl_add_img" src="{% static 'images/add.svg' %}" alt="Добавление группы">
                <div class="list_ctrl_add_txt">Добавить</div>
            </button>
        </div>
        <div class="discipline_list__wrapper">
            <div class="discipline_list">
                {% if curriculum_form.errors %}
                {% for field, errors in curriculum_form.errors.items %}
                {% if field == "discipline_id" %}
                <ul class="errorlist">
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endfor %}
                {% endif %}
                {{ curriculum_form.discipline_id }}
            </div>
            <button class="list_ctrl_add" id="discipline_list_add_button">
                <img class="list_ctrl_add_img" src="{% static 'images/add.svg' %}" alt="Добавление дисциплины">
                <div class="list_ctrl_add_txt">Добавить</div>
            </button>


        </div>
        {% csrf_token %}
    </div>
        {% if group %}
            {% if group|get_type == 'Group' %}
        <a class="register_form_link"  href="{% url 'account:group_semester_register' %}?group_id={{group.group_id}}{% if this_url %}&next={{this_url}}{% endif %}">
            Нужной группы нет в списке
        </a>
        {% endif %}

        {% endif %}

    {% if curriculum_form.errors %}
    {{ curriculum_form.non_field_errors }}
    {% endif %}
    </div>
    <input class="controller_button form_submit_button__reg curriculum_group_form_submit" type="submit" value="Добавить">
</form>
{% endwith %}
{% endblock %}