{# Template for group details #}

{% extends "base.html" %}

{% load static %}
{% load group_extras %}
{% block page_scripts %}
  <link href="{% static 'css/group_details.css' %}" rel="stylesheet">
  <script src="{% static 'js/list.js' %}"></script>
{% endblock %}

{% block title %}Информация о группе{% endblock %}

{% block content %}
  {# Including page title #}
  {% include "page_heading.html" with back_url="account:group_list" page_title=group.name list_url="account:group_list" %}

  {% include "success_msg.html" %}
  <div class="details_description">
    Текущий семестр: {{max_semester}}
  </div>
  <div class="details_controllers">
    <a class="controller_button details_controller_button__delete"
       href="{{ group.get_delete_url }}?next={% url 'account:group_details' group.group_id %}">
      Удалить
    </a>
    <a class="controller_button details_controller_button__edit"
       href="{{ group.get_edit_url }}?next={% url 'account:group_details' group.group_id %}">
      Редактировать
    </a>
  </div>

  <div class="group_info_wrapper">
    <div class="group_info_detail">
      <div class="group_info_detail_heading">
        <h2 class="group_info_detail_title">Студенты</h2>
        {# Including add button #}
        {% url 'account:group_semester_register' as add_url %}
        {% url 'account:group_semester_register' group.group_id as next_url %}
        {% include "add_button.html" with add_link=add_url|add_str:"?group_id="|add_str:group.group_id|add_str:"&next="|add_str:next_url add_txt="Семестр" %}
      </div>
      <div class="group_info_members">
        {% if group_members %}
        {# Grouping group_members by semester number #}
        {% with prev_semester_num_std=-1 is_hidden="" %}
          {% for group_member in group_members %}
            {# Check weather semester number is changed #}
              {% if prev_semester_num_std != group_member.group_semester_id__semester_num %}
                <div class="item_semester_number">
                  <div class="semester_number_controller">
                    <img class="semester_number_controller_img" src="{% static 'images/back.svg' %}"/>
                  </div>
                  Семестр {{group_member.group_semester_id__semester_num}}
                  {% if is_hidden == "" and prev_semester_num_std != -1 %}
                    {% update_variable "hidden" as is_hidden %}
                  {% endif %}
                </div>
                <div class="group_members_semester_ctrl">
                  {# Including add button #}
                  {% url 'account:group_member_register' as add_url %}
                  {% url 'account:group_details' group.group_id as next_url %}
                  {% include "add_button.html" with add_link=add_url|add_str:"?group_id="|add_str:group.group_id|add_str:"&semester_num="|add_str:group_member.group_semester_id__semester_num|add_str:"&next="|add_str:next_url add_txt="Студент" %}
                </div>
                <div class="group_members_semester_delete">
                  {# Including control buttons delete #}
                  {% url 'account:group_details' group.group_id as next_url %}
                  {% url 'account:group_semester_delete' as del_link %}
                  {% include "buttons_controllers.html" with del_link=del_link|add_str:"?group_id="|add_str:group_member.group_semester_id__group_id|add_str:"&semester_num="|add_str:group_member.group_semester_id__semester_num|add_str:"&next="|add_str:next_url %}
                </div>
              {% endif %}
              {% if group_member.student_id__user_id__id %}
                <a class="group_members_name toggle_name {{is_hidden}}" href="{% url 'account:user_details' group_member.student_id__user_id__id %}?next={% url 'account:group_details' group.group_id %}">
                  <span>
                    {{group_member.student_id__user_id__last_name}}
                    {{group_member.student_id__user_id__first_name}}
                    {{group_member.student_id__user_id__second_name}}
                  </span>
                </a>
                <div class="group_members_ctrl toggle_ctrl {{is_hidden}}">
                  {# Including control buttons delete #}
                  {% url 'account:group_details' group.group_id as next_url %}
                  {% url 'account:group_member_delete' group_member.group_member_id as del_link %}
                  {% include "buttons_controllers.html" with del_link=del_link next_del_link=next_url %}
                </div>
                {# Extra div needed for correct grid work #}
                <div class="group_members_additional toggle_additional {{is_hidden}}">
                </div>
              {% endif %}
              {% update_variable group_member.group_semester_id__semester_num as prev_semester_num_std %}
            {% endfor %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="group_info_wrapper">
    <div class="group_info_detail">
      <div class="group_info_detail_heading">
        <h2 class="group_info_detail_title">План занятий</h2>
        {# Including add button #}
        {% url 'account:curriculum_lesson_group_details' group.group_id as add_url %}
        {% url 'account:group_semester_register' group.group_id as next_url %}
        {% include "add_button.html" with add_link=add_url add_txt="Подробнее" no_img="Y" %}
      </div>
      {% if group_lessons %}
        <div class="group_info_curriculum">
          {% with prev_semester_num=-1 prev_dis_name='' is_hidden='' %}
            {% for group_lesson in group_lessons %}
              {% if prev_semester_num != group_lesson.curriculum_id__group_semester_id__semester_num %}
                <div class="item_semester_number">
                  <div class="semester_number_controller">
                    <img class="semester_number_controller_img" src="{% static 'images/back.svg' %}"/>
                  </div>
                  Семестр {{ group_lesson.curriculum_id__group_semester_id__semester_num }}
                  {% if is_hidden == "" and prev_semester_num != -1 %}
                    {% update_variable "hidden" as is_hidden %}
                  {% endif %}
                </div>
                {% update_variable '' as prev_dis_name %}
              {% endif %}
              {% if prev_dis_name != group_lesson.curriculum_id__discipline_id__name %}
                {% if group_lesson.curriculum_id__discipline_id__name %}
                  <a class="curriculum_discipline toggle_name {{is_hidden}}" href="{% url 'account:discipline_details' group_lesson.curriculum_id__discipline_id__discipline_id %}?next={% url 'account:group_details' group.group_id %}">
                    {{ group_lesson.curriculum_id__discipline_id__name }}
                  </a>
                {% endif %}
              {% endif %}
              {% if group_lesson.tutor_id__user_id__id %}
                <div class="curriculum_discipline_tutor_item toggle_detail {{is_hidden}}">
                  {% get_value lesson_types group_lesson.lesson_type %}
                  <a class="curriculum_discipline_tutor" href="{% url 'account:user_details' group_lesson.tutor_id__user_id__id %}?next={% url 'account:group_details' group.group_id %}">
                    {{ group_lesson.tutor_id__user_id__last_name }}
                    {{ group_lesson.tutor_id__user_id__first_name }}
                    {{ group_lesson.tutor_id__user_id__second_name }}
                  </a>
                </div>
              {% endif %}
              {% update_variable group_lesson.curriculum_id__group_semester_id__semester_num as prev_semester_num %}
              {% update_variable group_lesson.curriculum_id__discipline_id__name as prev_dis_name %}
            {% endfor %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="group_info_wrapper">
    <div class="group_info_detail">
      <h2 class="group_info_detail_title">Расписание занятий</h2>
      {# Include lesson timetable template #}
      {% url 'account:group_details' group.group_id as day_url %}
      {% create_tt_conf_dict entity="group_id" entity_id=group.group_id entity_name="Группа" as add_group %}
      {% add_to_list add_group as entities %}
      {% include "tt_lesson/tt_lesson_detail.html" with entities=entities day_url=day_url %}
    </div>
  </div>
{% endblock %}
