{% extends "base.html" %}

{% block title %}Create a group{% endblock %}

{% block content %}
{% include "back_button.html" with back_url="account:group_list" %}
<h1>
    {% if action == 'C' %}Добавление
    {% elif action == 'U' %}Изменение
    {% else %}Форма
    {% endif %} группы
</h1>
{% include "form_success.html" with form=group_form %}
<p>
    {% if action == 'C' %}Добавьте группу, используя форму ниже:
    {% elif action == 'U' %}Измените группу, используя форму ниже:
    {% else %}Используйте форму ниже:
    {% endif %}
</p>
<form class="register_group" method="post">
    {{ group_form.as_p }}
    {% csrf_token %}
    <p><input type="submit"
              value="{% if action == 'C' %}Создать{% elif action == 'U' %}Изменить{% else %}Подтвердить{% endif %}"></p>
</form>
{% endblock %}