{% extends "base.html" %}

{% block title %}Group details{% endblock %}

{% load group_extras %}

{% block content %}
{% include "back_button.html" with back_url="account:group_list" %}
<h1>Информация о группе</h1>
{% include "success_msg.html" %}
<h2>{{ group.name }}</h2>
<a href="{{ group.get_edit_url }}?next={% url 'account:group_details' group.group_id %}">Редактировать</a>
<a href="{{ group.get_delete_url }}?next={% url 'account:group_details' group.group_id %}">Удалить</a>

<div class="group_members">
    <h2>Список студентов</h2>
    {% if group_members %}
    <a href="{% url 'account:group_member_register' %}?group_id={{group.group_id}}">Добавить студента</a>
    {% endif %}
    <a href="{% url 'account:group_semester_register' %}?group_id={{group.group_id}}">Добавить семестр</a>
    {% if group_members %}
        <ul class="group_members_list">

        {% with prev_semester_num_std=-1 prev_sem_id=None %}
            {% for group_member in group_members %}
                {% if prev_semester_num_std != group_member.group_semester_id__semester_num %}
                    {% if prev_semester_num_std != -1 %}
                        {% if prev_sem_id %}
                            </ul>
                        {% endif %}
                        </li>
                    {% endif %}
            <li>Семестр {{group_member.group_semester_id__semester_num}}
                <a href="{% url 'account:group_semester_delete' %}?group_id={{group.group_id}}&semester_num={{group_member.group_semester_id__semester_num}}">Удалить семестр</a>
                <a href="{% url 'account:group_member_register' %}?group_id={{group.group_id}}&semester_num={{group_member.group_semester_id__semester_num}}">Добавить студента</a>
                    {% if group_member.group_semester_id %}
                <ul>
                    {% endif %}
                {% endif %}
                    {% if group_member.student_id__user_id__id %}
                    <li>
                        <a href="{% url 'account:user_details' group_member.student_id__user_id__id %}">
                            {{group_member.student_id__user_id__last_name}}
                            {{group_member.student_id__user_id__first_name}}
                            {{group_member.student_id__user_id__second_name}}
                        </a>
                        <a href="{% url 'account:group_member_delete' group_member.group_member_id %}">
                            Удалить студента
                        </a>
                    </li>
                    {% endif %}
                {% update_variable group_member.group_semester_id__semester_num as prev_semester_num_std %}
                {% update_variable group_member.group_semester_id as prev_sem_id %}
            {% endfor %}
        {% endwith %}
                    {% if group_member.group_semester_id %}
                </ul>
                {% endif %}
            </li>
        </ul>
    {% endif %}
</div>

<div class="group_lessons">
    <h2>План занятий</h2>
    <a href="{% url 'account:curriculum_lesson_group_details' group.group_id %}">Подробнее</a>
    {% if group_lessons %}
        <ul class="group_lessons_list">
        {% with prev_semester_num=-1 prev_sem_id=None prev_dis_id=None prev_tutor_id='' prev_dis_name='' %}
            {% for group_lesson in group_lessons %}
                {% if prev_dis_name != group_lesson.curriculum_id__discipline_id__name and prev_dis_name is not None %}
                    {% if prev_tutor_id != '' and  prev_tutor_id is not None %}
                        {% if prev_dis_id %}
                            </ul>
                        {% endif %}
                        </li>
                    {% endif %}
                {% endif %}
                    {% if prev_semester_num != group_lesson.curriculum_id__group_semester_id__semester_num %}
                        {% if prev_semester_num != -1 %}
                            {% if prev_sem_id %}
                                </ul>
                            {% endif %}
                            </li>
                        {% endif %}



            <li>Семестр {{group_lesson.curriculum_id__group_semester_id__semester_num}}
                    {% update_variable -1 as prev_dis_id %}
                {% update_variable '' as prev_dis_name %}


                        {% if group_lesson.curriculum_id__group_semester_id__group_semester_id %}
                <ul>
                        {% endif %}
                    {% endif %}
                    {% if prev_dis_name != group_lesson.curriculum_id__discipline_id__name %}
                    {% if group_lesson.curriculum_id__discipline_id__name %}

                    <li>
                        <a href="{% url 'account:discipline_details' group_lesson.curriculum_id__discipline_id__discipline_id %}">
                            {{group_lesson.curriculum_id__discipline_id__name}}
                        </a>
                        {% if group_lesson.tutor_id__user_id__id %}
                        <ul>

                        {% endif %}
                    {% endif %}
  {% endif %}
                {% if group_lesson.tutor_id__user_id__id %}
                            {% update_variable '' as prev_tutor_id %}
                            <li>
                                {% get_value lesson_types group_lesson.lesson_type %}
                                <a href="{% url 'account:user_details' group_lesson.tutor_id__user_id__id %}">
                                    {{group_lesson.tutor_id__user_id__last_name}}
                                    {{group_lesson.tutor_id__user_id__first_name}}
                                    {{group_lesson.tutor_id__user_id__second_name}}
                                </a>
                            </li>
                {% endif %}

                {% update_variable group_lesson.curriculum_id__group_semester_id__semester_num as prev_semester_num %}
                {% update_variable group_lesson.curriculum_id__discipline_id__discipline_id as prev_dis_id %}
                {% update_variable group_lesson.tutor_id__user_id__id as prev_tutor_id %}
                {% update_variable group_lesson.curriculum_id__discipline_id__name as prev_dis_name %}
                {% update_variable group_lesson.curriculum_id__group_semester_id__group_semester_id as prev_sem_id %}
            {% endfor %}
        {% endwith %}
        {% if group_lesson.curriculum_id__discipline_id__discipline_id %}
                        </ul>
        {% endif %}
        {% if group_lesson.curriculum_id__group_semester_id__group_semester_id %}
                    </li>
                </ul>
        {% endif %}
            </li>
        </ul>
    {% endif %}
</div>
    <div>
        <h2>Расписание занятий</h2>
        <a href="{% url 'account:group_details' group.group_id %}">
            День
        </a>
        <a href="{% url 'account:group_details' group.group_id %}?week=True">
            Неделя
        </a>
        {% create_tt_conf_dict entity="group_id" entity_id=group.group_id entity_name="Группа" as add_group %}
        {% add_to_list add_group as entities %}

        {% include "tt_lesson/tt_lesson_detail.html" with entities=entities %}
    </div>
{% endblock %}
