{# Template for group details #}

{% extends "base.html" %}

{% load static %}
{% load group_extras %}

{% block page_scripts %}
  <script src="{% static 'js/group_details.js' %}"></script>
  <script src="{% static 'js/list.js' %}"></script>
  <link href="{% static 'css/group_details.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}Информация о группе{% endblock %}

{% block content %}
  {% with request.path as this_url %}
  {% get_url_params request as url_params %}
  {% if url_params %}
  {% change_query_string this_url|add_str:"?"|add_str:url_params as this_url %}
  {% endif %}
  {# Including page title #}
  {% original_query_string next_url as next_url %}
  {% include "page_heading.html" with back_url="account:group_list" page_title=group.name list_url="account:group_list" next_url=next_url %}

  {% include "success_msg.html" %}
  <div class="details_description">
    Текущий семестр: {{max_semester}}
  </div>
  <div class="details_controllers">
    <a class="controller_button details_controller_button__delete"
       href="{{ group.get_delete_url }}{% if this_url %}?next={{this_url}}{% endif %}">
      Удалить
    </a>
    <a class="controller_button details_controller_button__edit"
       href="{{ group.get_edit_url }}{% if this_url %}?next={{this_url}}{% endif %}">
      Редактировать
    </a>
  </div>

  <div class="group_info_wrapper">
    <div class="group_info_detail">
      <div class="group_info_detail_heading">
        <h2 class="group_info_detail_title">Студенты</h2>
        {# Including add button #}
        {% url 'account:group_semester_register' as add_url %}
        {% include "add_button.html" with add_link=add_url|add_str:"?group_id="|add_str:group.group_id|add_str:"&next="|add_str:this_url add_txt="Семестр" %}
      </div>
      <div class="group_info_members">
        {% if group_members %}
        {# Grouping group_members by semester number #}
        {% with prev_semester_num_std=-1 is_hidden="" %}
          {% for group_member in group_members %}
            {# Check weather semester number is changed #}
              {% if prev_semester_num_std != group_member.group_semester_id__semester_num %}
                <div class="item_semester_number">
                  <div class="semester_number_controller">
                    <img class="semester_number_controller_img" src="{% static 'images/back.svg' %}"/>
                  </div>
                  Семестр {{group_member.group_semester_id__semester_num}}
                  {% if is_hidden == "" and prev_semester_num_std != -1 %}
                    {% update_variable "hidden" as is_hidden %}
                  {% endif %}
                </div>
                <div class="group_members_semester_ctrl">
                  {# Including add button #}
                  {% url 'account:group_member_register' as add_url %}
                  {% include "add_button.html" with add_link=add_url|add_str:"?group_id="|add_str:group.group_id|add_str:"&semester_num="|add_str:group_member.group_semester_id__semester_num|add_str:"&next="|add_str:this_url add_txt="Студент" %}
                </div>
                <div class="group_members_semester_delete">
                  {# Including control buttons delete #}
                  {% url 'account:group_semester_delete' as del_link %}
                  {% include "buttons_controllers.html" with del_link=del_link|add_str:"?group_id="|add_str:group_member.group_semester_id__group_id|add_str:"&semester_num="|add_str:group_member.group_semester_id__semester_num|add_str:"&next="|add_str:this_url %}
                </div>
              {% endif %}
              {% if group_member.student_id__user_id__id %}
                <a class="group_members_name toggle_name {{is_hidden}}" href="{% url 'account:user_details' group_member.student_id__user_id__id %}{% if this_url %}?next={{this_url}}{% endif %}">
                  <span>
                    {{ group_member.student_id__user_id__last_name }}
                    {{ group_member.student_id__user_id__first_name }}
                    {{ group_member.student_id__user_id__second_name }}
                  </span>
                </a>
                <div class="group_members_ctrl toggle_ctrl {{is_hidden}}">
                  {# Including control buttons delete #}
                  {% url 'account:group_member_delete' group_member.group_member_id as del_link %}
                  {% include "buttons_controllers.html" with del_link=del_link next_del_link=this_url %}
                </div>
                {# Extra div needed for correct grid work #}
                <div class="group_members_additional toggle_additional {{is_hidden}}">
                </div>
              {% endif %}
              {% update_variable group_member.group_semester_id__semester_num as prev_semester_num_std %}
            {% endfor %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="group_info_wrapper">
    <div class="group_info_detail">
      <div class="group_info_detail_heading">
        <h2 class="group_info_detail_title">План занятий</h2>
        {# Including add button #}
        {% url 'account:curriculum_lesson_group_details' group.group_id as add_url %}
        {% include "add_button.html" with add_link=add_url|add_str:"?next="|add_str:this_url add_txt="Подробнее" no_tip="Y" no_img="Y" %}
      </div>
      {% if group_lessons %}
        <div class="group_info_curriculum">
          {% with prev_semester_num=-1 prev_dis_name='' is_hidden='' lesson_type_lst=None previous_discip=None next_discip=None tutor_lst=None tutor_last_name='' tutor_first_name='' tutor_second_name='' tutor_full_name='' %}
            {% for group_lesson in group_lessons %}
              {% if prev_semester_num != group_lesson.curriculum_id__group_semester_id__semester_num %}
                <div class="item_semester_number">
                  <div class="semester_number_controller">
                    <img class="semester_number_controller_img" src="{% static 'images/back.svg' %}"/>
                  </div>
                  Семестр {{ group_lesson.curriculum_id__group_semester_id__semester_num }}
                  {% if is_hidden == "" and prev_semester_num != -1 %}
                    {% update_variable "hidden" as is_hidden %}
                  {% endif %}
                </div>
                {% update_variable '' as prev_dis_name %}
              {% endif %}
              {% if prev_dis_name != group_lesson.curriculum_id__discipline_id__name %}
                {% if group_lesson.curriculum_id__discipline_id__name %}
                  <div class="curriculum_discipline_tutor_item_wrapper toggle_detail {{is_hidden}}">
                  {% if group_lesson.tutor_id__user_id__id %}
                    <div class="curriculum_discipline_tutor_item">
                  {% endif %}
                  <div class="curriculum_discipline_wrapper">
                    <a class="curriculum_discipline" href="{% url 'account:discipline_details' group_lesson.curriculum_id__discipline_id__discipline_id %}{% if this_url %}?next={{this_url}}{% endif %}">
                      {{ group_lesson.curriculum_id__discipline_id__name }}
                    </a>
                  </div>
                  {% update_variable None as lesson_type_lst %}
                  {% update_variable None as tutor_lst %}
                {% endif %}
              {% endif %}
                {% update_variable group_lessons|previous:forloop.counter0 as previous_discip %}
                {% update_variable group_lessons|next:forloop.counter0 as next_discip %}
              {% if group_lesson.tutor_id__user_id__id %}

                {% if previous_discip.lesson_type != group_lesson.lesson_type or previous_discip.curriculum_id__group_semester_id__semester_num != group_lesson.curriculum_id__group_semester_id__semester_num or previous_discip.curriculum_id__discipline_id__discipline_id != group_lesson.curriculum_id__discipline_id__discipline_id %}
                  <!-- <span class="discipline_type">-->
                  {% get_value lesson_types group_lesson.lesson_type as lesson_type %}
                  {% comment %}{{ lesson_type }}{% endcomment %}
                  {% add_to_list lesson_type lesson_type_lst as lesson_type_lst %}
                  <!--                  </span>-->
                {% endif %}
                {% if previous_discip.tutor_id__user_id__id != group_lesson.tutor_id__user_id__id or previous_discip.curriculum_id__group_semester_id__semester_num != group_lesson.curriculum_id__group_semester_id__semester_num or previous_discip.curriculum_id__discipline_id__discipline_id != group_lesson.curriculum_id__discipline_id__discipline_id %}
                  <!--  <a class="curriculum_discipline_tutor" href="{% url 'account:user_details' group_lesson.tutor_id__user_id__id %}{% if this_url %}?next={{this_url}}{% endif %}">-->
                  {% update_variable group_lesson.tutor_id__user_id__last_name|add_str:" " as tutor_last_name %}
                  {% update_variable group_lesson.tutor_id__user_id__first_name|slicestring:"0:1"|add_str:"." as tutor_first_name %}

                    {% comment %}
                      {{ group_lesson.tutor_id__user_id__last_name }}
                      {{ group_lesson.tutor_id__user_id__first_name|slicestring:"0:1" }}.
                    {% endcomment %}

                  {% if group_lesson.tutor_id__user_id__second_name %}

                    {% comment %}
                      {{ group_lesson.tutor_id__user_id__second_name|slicestring:"0:1" }}.
                    {% endcomment %}

                    {% update_variable group_lesson.tutor_id__user_id__second_name|slicestring:"0:1"|add_str:"." as tutor_second_name %}
                    {% if next_discip.curriculum_id__discipline_id__name == group_lesson.curriculum_id__discipline_id__name and next_discip.curriculum_id__group_semester_id__semester_num == group_lesson.curriculum_id__group_semester_id__semester_num %}
                      {% update_variable tutor_second_name|add_str:"," as tutor_second_name %}
                    {% endif %}
                  {% endif %}
                  {% update_variable tutor_last_name|add_str:tutor_first_name|add_str:tutor_second_name as tutor_full_name %}

                  {% create_tutors_dict name=tutor_full_name link=group_lesson.tutor_id__user_id__id as tutor_dict %}
                  {% add_to_list tutor_dict tutor_lst as tutor_lst %}
                  <!--                  </a>-->
                {% endif %}
                {% if next_discip.curriculum_id__discipline_id__name != group_lesson.curriculum_id__discipline_id__name or next_discip.curriculum_id__group_semester_id__semester_num != group_lesson.curriculum_id__group_semester_id__semester_num %}
                  {% if lesson_type_lst %}
                    <div class="discipline_type">
                      {% for lesson_type in lesson_type_lst reversed %}
                        {% include "tags.html" with tag_txt=lesson_type|lower|slicestring:"0:3" %}
                      {% endfor %}
                    </div>
                  {% endif %}
                  </div>
                  {% if tutor_lst %}
                    <div class="discipline_tutor">
                      <div class="discipline_tutor_icon">
                        <img
                            class="discipline_tutor_icon_img"
                            src="{% static 'images/user.svg' %}"/>
                        <span class="tooltiptext">Преподаватели</span>
                      </div>
                      {% for tutor in tutor_lst reversed %}
                        <a class="curriculum_discipline_tutor" href="{% url 'account:user_details' tutor.link %}{% if this_url %}?next={{this_url}}{% endif %}">
                          {{tutor.name}}
                        </a>
                      {% endfor %}
                    </div> {# for curriculum_discipline_tutor_item #}
                  {% endif %}
                {% endif %}
              {% endif %}
              {% if group_lesson.curriculum_id__discipline_id__name and next_discip.curriculum_id__discipline_id__name != group_lesson.curriculum_id__discipline_id__name or group_lesson.curriculum_id__discipline_id__name and next_discip.curriculum_id__group_semester_id__semester_num != group_lesson.curriculum_id__group_semester_id__semester_num %}
                </div> {# for curriculum_discipline_tutor_item_wrapper #}
              {% endif %}
              {% update_variable group_lesson.curriculum_id__group_semester_id__semester_num as prev_semester_num %}
              {% update_variable group_lesson.curriculum_id__discipline_id__name as prev_dis_name %}
            {% endfor %}
          {% endwith %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="group_info_wrapper">
    <div class="group_info_detail">
      {# Include lesson timetable template #}
      {% url 'account:group_details' group.group_id as day_url %}
      {% create_tt_conf_dict entity="group_id" entity_id=group.group_id entity_name="Группа" as add_group %}
      {% add_to_list add_group as entities %}
      {% include "tt_lesson/tt_lesson_detail.html" with entities=entities day_url=day_url this_url=this_url %}
    </div>
  </div>
{% endwith %}
{% endblock %}
