{# Template for the main (personal) page #}

{% extends "base.html" %}

{% load static %}
{% load group_extras %}

{% block page_scripts %}
  <link href="{% static 'css/student_attendance_edit.css' %}" rel="stylesheet">
  <script src="{% static 'js/student_attendance_edit.js' %}"></script>
{% endblock %}

{% block content %}
	{% with request.path as this_url %}
		{% get_url_params request as url_params %}
		{% if url_params %}
			{% change_query_string this_url|add_str:"?"|add_str:url_params as this_url %}
		{% endif %}

		{# Including page title #}
		{% original_query_string next_url as next_url %}
		{% include "page_heading.html" with back_url="progress:student_attendance_choose" page_title=discipline.name list_url="progress:student_attendance_choose" next_url=next_url %}
		{% include "success_msg.html" %}
		
		<div class="sa_group">
		</div>
		<div class="sa_content">
			{% if tt_lessons %}
			{% for tt_lesson in tt_lessons %}
				
			{% endfor %}
			{% else %}
				Занятий не найдено
			{% endif %}
		</div>
		<div class="sa_controller">
		</div>
	{% endwith %}
{% endblock %}