{# Template for add button #}

{% load static %}
{% load group_extras %}
<link href="{% static 'css/add_button.css' %}" rel="stylesheet">

<div class="title_add_button">
    {% with None as full_add_link %}
        {% if next_add_link %}
            {% update_variable add_link|add:"?next="|add:next_add_link as full_add_link %}
        {% else %}
            {% update_variable add_link as full_add_link %}
        {% endif %}

        <div class="list_ctrl_add" onclick="window.location = '{{ full_add_link }}'">
            <img class="list_ctrl_add_img" src="{% static 'images/add.svg' %}"/>
                <div class="list_ctrl_add_txt">Добавить {{add_txt}}</div>
            <span class="tooltiptext">Добавить</span>
        </div>
    {%endwith %}
</div>
