<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
<!--  <script-->
<!--  src="https://code.jquery.com/jquery-3.4.1.min.js"-->
<!--  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="-->
<!--  crossorigin="anonymous"></script>-->
<!--  <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">-->
<!--  <script src="{% static 'jquery-ui-1.13.3/jquery-ui.min.js' %}"></script>-->
<!--  <script src="{% static 'jquery-ui-1.13.3/external/jquery/jquery.js' %}"></script>-->
<!--  -->
<!--   <script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
<!--  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>-->
<!--  <script src="{% static 'js/jquery-ui.min.js' %}"></script>-->

  <script src="{% static 'js/jquery-1.9.1.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/jquery-ui-timepicker-addon.js' %}"></script>
  <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
  <link href="{% static 'css/jquery-ui-timepicker-addon.css' %}" rel="stylesheet">



  {% block page_scripts %}
  {% endblock %}



</head>
<body>



  <div id="header">
    <span class="logo">Колледж</span>
  {% if request.user.is_authenticated %}
      <ul class="menu">
        <li {% if section == "dashboard" %}class="selected"{% endif %}>
          <a href="{% url 'account:dashboard' %}">Заглушка</a>
        </li>
      </ul>
    {% endif %}
    <span class="user">
      {% if request.user.is_authenticated %}
        Здравствуйте, {{ request.user.first_name|default:request.user.username }},
      <form action="{% url 'account:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
      {% else %}
        <a href="{% url 'account:login' %}">Войти</a>
      {% endif %}
    </span>
  </div>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
          <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="main_content">
      <nav class="navigation">
        {% static 'images/home.svg' as src_link %}

      {% include "navigation_item.html" with src_link=src_link nav_txt="Личная страница" redirect_link="#" %}
            {% static 'images/user.svg' as src_link %}
                {% url 'account:user_list' as redirect_link %}
      {% include "navigation_item.html" with src_link=src_link nav_txt="Пользователи" redirect_link=redirect_link %}
                {% static 'images/discipline.svg' as src_link %}
                {% url 'account:discipline_list' as redirect_link %}
      {% include "navigation_item.html" with src_link=src_link nav_txt="Предметы" redirect_link=redirect_link %}
                {% static 'images/group.svg' as src_link %}
        {% url 'account:group_list' as redirect_link %}
      {% include "navigation_item.html" with src_link=src_link nav_txt="Группы" redirect_link=redirect_link %}
                {% static 'images/classroom.svg' as src_link %}
        {% url 'account:classroom_list' as redirect_link %}
      {% include "navigation_item.html" with src_link=src_link nav_txt="Аудитории" redirect_link=redirect_link %}
                {% static 'images/mark.svg' as src_link %}

      {% include "navigation_item.html" with src_link=src_link nav_txt="Оценки" redirect_link="#" %}
                {% static 'images/hw.svg' as src_link %}

      {% include "navigation_item.html" with src_link=src_link nav_txt="Домашние задания" redirect_link="#" %}

      </nav>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
  </div>

</body>
</html>