{# Template for pagination #}

{% load static %}
<link href="{% static 'css/pagination.css' %}" rel="stylesheet">

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
        <div class="change_page" onclick="window.location = '?page={{page.previous_page_number}}'">
            <img
                class=""
                src="{% static 'images/prev_page.svg' %}"/>
        </div>
        {% endif %}
        <span class="current_page">
            Страница {{page.number}}/{{page.paginator.num_pages}}
        </span>
        {% if page.has_next %}
        <div class="change_page" onclick="window.location = '?page={{page.next_page_number}}'">
            <img
                class=""
                src="{% static 'images/next_page.svg' %}"/>
        </div>
        {% endif %}
    </span>
</div>