{% extends "base.html" %}

{% block title %}Create curriculum lesson{% endblock %}

{% block content %}
  <h1>Добавление урока в план</h1>
  <p>Добавьте урок в план, используя форму ниже:</p>
  <form class="register_curriculum_lesson" method="post">
    {{ curriculum_lesson_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Добавить"></p>
  </form>
  {% if discipline %}
  <a href="{% url 'account:curriculum_register' %}?discipline_id={{discipline.discipline_id}}">Нужной группы нет в списке</a>
  {% endif %}
  {% if group %}
  <a href="{% url 'account:curriculum_register' %}?group_id={{group.group_id}}">Нужной группы нет в списке</a>
  {% endif %}
{% endblock %}