{# Template for delete group semester object #}

{% extends "base.html" %}

{% load group_extras %}

{% block title %}Group semester delete{% endblock %}

{% block content %}
    {# Including page title #}
{% original_query_string next_url as next_url %}
    {% include "page_heading.html" with back_url="group:group_details" back_id=group.group_id page_title="Удаление семестра группы" list_url="group:group_list" next_url=next_url %}
    <div class="delete_object">
        <h2 class="delete_object_name">{{ group.name }}</h2>
        <div class="delete_object_description">Семестр {{ group_semester.semester_num }}</div>
    </div>
    <form class="delete_form" method="POST">
        <div class="delete_form_question">Вы действительно хотите удалить этот семестр?</div>
        {% include "delete_from_controllers.html" with cancel_url="group:group_details" cancel_id=group.group_id %}
        {% csrf_token %}
    </form>
{% endblock %}