{# Template for delete classroom #}

{% extends "base.html" %}

{% load group_extras %}
{% load static %}

{% block title %}Classroom delete{% endblock %}

{% block content %}
    {# Including page title #}
  {% original_query_string next_url as next_url %}
    {% include "page_heading.html" with back_url="account:classroom_list" page_title="Удаление аудитории" list_url="account:classroom_list" next_url=next_url %}

    <div class="delete_object">
        <h2 class="delete_object_name">{{ classroom.number }}</h2>
        <div class="delete_object_description">{{ classroom.description }}</div>
    </div>
    <form class="delete_form" method="POST">
        <div class="delete_form_question">Вы действительно хотите удалить эту аудиторию?</div>
        {% include "delete_from_controllers.html" with cancel_url="account:classroom_details" cancel_id=classroom.classroom_id %}
        {% csrf_token %}
    </form>
{% endblock %}