{# Template for list of classrooms #}

{% extends "base.html" %}

{% load group_extras %}
{% load static %}

{% block page_scripts %}
    <link href="{% static 'css/list.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Classroom list{% endblock %}

{% block content %}
  {% with request.path as this_url %}
    {% get_url_params request as url_params %}
    {% if url_params %}
      {% change_query_string this_url|add_str:"?"|add_str:url_params as this_url %}
    {% endif %}
    <div class="page_title">
      {# Including page title #}
      {% original_query_string next_url as next_url %}
      {% include "page_heading.html" with back_url="timetable:classroom_list" page_title="Список аудиторий" next_url=next_url %}

      {# Including add button #}
      {% if perms.timetable.add_classroom %}
        {% url 'timetable:classroom_register' as add_url %}
        {% include "add_button.html" with add_link=add_url|add_str:"?next="|add_str:this_url add_txt="Аудитория" %}
      {% endif %}
    </div>

    {% include "success_msg.html" %}
    <div class="items_list list_wrapper">
      {% for classroom in classrooms %}
        <div class="list_item">
          <div class="item_title">
            <a href="{{ classroom.get_absolute_url }}{% if this_url %}?next={{this_url}}{% endif %}">
              <h2 class="item_title_heading">
                {{ classroom.number }}
              </h2>
            </a>
          </div>
          {# Including control buttons edit and delete #}
          {% if perms.timetable.change_classroom or perms.timetable.delete_classroom %}
            {% with edit_link=None del_link=None %}
              {% if perms.timetable.change_classroom %}
                {% update_variable classroom.get_edit_url as edit_link %}
              {% endif %}
              {% if perms.timetable.delete_classroom %}
                {% update_variable classroom.get_delete_url as del_link %}
              {% endif %}
              {% include "buttons_controllers.html" with edit_link=edit_link next_edit_link=this_url del_link=del_link next_del_link=this_url %}
            {% endwith %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endwith %}
{% endblock %}