{% extends "base.html" %}

{% load group_extras %}
{% load static %}

{% block page_scripts %}
  <link href="{% static 'css/classroom_details.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Classroom detail{% endblock %}

{% block content %}
  {% with request.path as this_url %}
    {% get_url_params request as url_params %}
    {% if url_params %}
    {% change_query_string this_url|add_str:"?"|add_str:url_params as this_url %}
    {% endif %}
    {# Including page title #}
    {% original_query_string next_url as next_url %}
    {% include "page_heading.html" with back_url="timetable:classroom_list" page_title=classroom.number list_url="timetable:classroom_list" next_url=next_url %}
    {% include "success_msg.html" %}
    <div class="details_description">
      {{classroom.description}}
    </div>
    {% if perms.timetable.delete_classroom or perms.timetable.change_classroom %}
      <div class="details_controllers">
        {% if perms.timetable.delete_classroom %}
        <a class="controller_button details_controller_button__delete"
           href="{{ classroom.get_delete_url }}{% if this_url %}?next={{this_url}}{% endif %}">
          Удалить
        </a>
        {% endif %}
        {% if perms.timetable.change_classroom %}
        <a class="controller_button details_controller_button__edit"
           href="{{ classroom.get_edit_url }}{% if this_url %}?next={{this_url}}{% endif %}">
          Редактировать
        </a>
        {% endif %}
      </div>
    {% endif %}
    <div class="classroom_info_wrapper">
      <div class="classroom_info_detail">
        {# Include lesson timetable template #}
        {% url 'timetable:classroom_details' classroom.classroom_id as day_url %}
        {% create_tt_conf_dict entity="classroom_id" entity_id=classroom.classroom_id entity_name="Аудитория" as add_classroom %}
        {% add_to_list add_classroom as entities %}
        {% include "tt_lesson/tt_lesson_detail.html" with entities=entities day_url=day_url this_url=this_url %}
      </div>
    </div>
  {% endwith %}
{% endblock %}