{% extends "base.html" %}

{% load group_extras %}

{% block title %}Create group member{% endblock %}

{% block content %}
    {% if group %}
        {% if group.get_type == 'Group' %}
            {% include "back_button.html" with back_url="account:group_details" back_id=group.group_id %}
        {% elif group.group_id %}
            {% include "back_button.html" with back_url="account:group_details" back_id=group.group_id.group_id %}
        {% elif group.student_id %}
            {% include "back_button.html" with back_url="account:student_details" back_id=group.student_id %}
        {% endif %}
    {% else %}
        {% include "back_button.html" with back_url="account:group_list" %}
    {% endif %}
  <h1>Добавление в группу</h1>
{% include "form_success.html" with form=group_member_form %}
  <p>Добавьте в группу, используя форму ниже:</p>
  <form class="register_group" method="post">
    {{ group_member_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Добавить"></p>
  </form>
{{group_member_form.group_id}}
  {% if group %}
  <a href="{% url 'account:group_semester_register' %}?group_id={{group.group_id}}">Группы с нужным номером семестра нет в списке</a>
  {% endif %}
{% endblock %}