{% extends "base.html" %}

{% block title %}Group member delete{% endblock %}

{% block content %}
<h1>Удаление студента группы</h1>
<form method="POST">
    <p>Вы точно хотите удалить студента
        {{group_member.student_id__user_id__last_name}}
        {{group_member.student_id__user_id__first_name}}
        {{group_member.student_id__user_id__second_name}}
        из состава группы {{group_member.group_semester_id__group_id__name}}
        за {{group_member.group_semester_id__semester_num}} семестр?</p>
        {% include "delete_from_controllers.html" with cancel_url="account:group_details" cancel_id=group_member.group_semester_id__group_id__group_id %}
    {% csrf_token %}
</form>
<a href="{% url 'account:group_list' %}">Вернуться к списку</a>
{% endblock %}