{% extends "base.html" %}

{% block title %}Tutor delete{% endblock %}

{% block content %}
    <h1>Удаление дополнительной информации о преподавателе</h1>
      <h2>
          {{ user.last_name }} {{ user.first_name }} {{ user.second_name }}
      </h2>
    <form method="POST">
        <p>Вы точно хотите удалить информацию о преподавателе?</p>
        <input type="submit" value="Да">
        <a href="{% url 'account:user_edit' user.id %}">Отмена</a>
        {% csrf_token %}
    </form>
    <a href="{% url 'account:user_edit' user.id %}">Вернуться к редактированию</a>
{% endblock %}