{% extends "base.html" %}

{% block title %}User detail{% endblock %}

{% block content %}
<h1>Пользователь {{ user.last_name }} {{ user.first_name }} {{ user.second_name }}</h1>

<div class="user_info_wrapper">
    <div class="user_info_detail">
        {% if student %}
        Дата рождения: {{ student.date_of_birth }}
        <h2> Учебные группы </h2>
        <a href="{% url 'account:group_member_register' %}?student_id={{student.student_id}}">Добавить в группу</a>
        <div class="user_info_groups">
            {% if groups %}
            <ul class="user_info_groups_list">
                {% for group in groups %}
                <li>
                    <a href="{% url 'account:group_details' group.group_semester_id__group_id__group_id %}">
                        Семестр: {{group.group_semester_id__semester_num}}
                        Группа: {{group.group_semester_id__group_id__name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="user_info_detail">
        {% if tutor %}
        Дата рождения: {{ tutor.date_of_birth }}
        <h2> Дисциплины </h2>
        <a href="{% url 'account:curriculum_lesson_register' %}?tutor_id={{tutor.tutor_id}}">Добавить дисциплину</a>
        <div class="user_info_disciplines">
            {% if disciplines %}
            <ul class="user_info_disciplines_list">
                {% for discipline in disciplines %}
                <li>
                    <a href="{% url 'account:discipline_details' discipline.curriculum_id__discipline_id__discipline_id %}">{{discipline.curriculum_id__discipline_id__name}}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}


    </div>
</div>
<!--  <p>Описание: {{classroom.description}}</p>-->
<a href="{{ user.get_edit_url }}">Редактировать</a>
<a href="{% url 'account:user_list' %}">Вернуться к списку</a>
{% endblock %}