{% extends "base.html" %}

{% load group_extras %}

{% block title %}User detail{% endblock %}

{% block content %}
{% include "back_button.html" with back_url="account:user_list" %}
<h1>Информация о пользователе</h1>
{% include "success_msg.html" %}
<h2>{{ user.last_name }} {{ user.first_name }} {{ user.second_name }}</h2>
<a href="{{ user.get_edit_url }}?next={% url 'account:user_details' user.id %}">Редактировать</a>
<a href="{{ user.get_delete_url }}?next={% url 'account:user_details' user.id %}">Удалить</a>
<div class="user_info_wrapper">
    <div class="user_info_detail">
        {% if student %}
        Дата рождения: {{ student.date_of_birth }}
        <h2> Учебные группы </h2>
        <a href="{% url 'account:group_member_register' %}?student_id={{student.student_id}}">Добавить в группу</a>
        <div class="user_info_groups">
            {% if groups %}
            <ul class="user_info_groups_list">
                {% for group in groups %}
                <li>
                    <a href="{% url 'account:group_details' group.group_semester_id__group_id__group_id %}">
                        Семестр: {{group.group_semester_id__semester_num}}
                        Группа: {{group.group_semester_id__group_id__name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="user_info_detail">
        {% if tutor %}
        Дата рождения: {{ tutor.date_of_birth }}
        <h2> Дисциплины </h2>
        <a href="{% url 'account:curriculum_lesson_register' %}?tutor_id={{tutor.tutor_id}}">Добавить дисциплину</a>
        <div class="user_info_disciplines">
            {% if disciplines %}
            <ul class="user_info_disciplines_list">
                {% for discipline in disciplines %}
                <li>
                    <a href="{% url 'account:discipline_details' discipline.curriculum_id__discipline_id__discipline_id %}">{{discipline.curriculum_id__discipline_id__name}}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}


    </div>
    <div>
        <h2>Расписание занятий</h2>
        <a href="{% url 'account:user_details' user.id %}">
            День
        </a>
        <a href="{% url 'account:user_details' user.id %}?week=True">
            Неделя
        </a>
        {% update_variable None as entities %}
        {% if tutor.tutor_id %}
            {% create_tt_conf_dict entity="tutor_id" entity_id=tutor.tutor_id entity_name="Преподаватель" as add_tutor %}
            {% add_to_list add_tutor as entities %}
        {% endif %}
        {% if student.student_id %}
            {% create_tt_conf_dict entity="student_id" entity_id=student.student_id entity_name="Студент" as add_student %}
            {% add_to_list add_student entities as entities %}
        {% endif %}

        {% include "tt_lesson/tt_lesson_detail.html" with entities=entities %}
    </div>

</div>
{% endblock %}