{% extends "base.html" %}

{% block page_scripts %}
{% load static %}
<script src="{% static 'js/user_edit_form.js' %}"></script>
{% endblock %}

{% block title %}Create an account{% endblock %}

{% block content %}
{% include "back_button.html" with back_url="account:user_list" %}
<h1>Изменение информации о пользователе</h1>
{% include "form_success.html" with form=user_form %}
<p>Измените информацию, используя форму ниже:</p>
<form class="edit_user" method="post">
    {{ user_form.as_p }}
          <div class="register_user__student">
          <h2>Дополнительная информация о студенте</h2>
          <a href="{% url 'account:user_delete_student' user.id %}">Удалить студента</a>
      {{ student_form.as_p }}
      </div>
      <div class="register_user__tutor">
          <h2>Дополнительная информация о преподавателе</h2>
          <a href="{% url 'account:user_delete_tutor' user.id %}">Удалить преподавателя</a>
      {{ tutor_form.as_p }}
      </div>
    {% csrf_token %}
    <p><input type="submit" value="Изменить"></p>
</form>
{% endblock %}