{# Template for delete user #}

{% extends "base.html" %}

{% load group_extras %}

{% block title %}User delete{% endblock %}

{% block content %}
  {# Including page title #}
  {% original_query_string next_url as next_url %}

  {% include "page_heading.html" with back_url="account:user_list" page_title="Удаление пользователя" list_url="account:user_list" next_url=next_url %}
  <div class="delete_object">
    <h2 class="delete_object_name">{{ user.last_name }} {{ user.first_name }} {{ user.second_name }}</h2>
    <div class="delete_object_description">Логин {{ user.username }}</div>
  </div>
  <form class="delete_form" method="POST">
    <div class="delete_form_question">Вы действительно хотите удалить этого пользователя?</div>
    {% include "delete_from_controllers.html" with cancel_url="account:user_details" cancel_id=user.id %}
    {% csrf_token %}
  </form>
{% endblock %}