/* CSS file for lesson timetable controllers template */

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

.step-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.detail_timetable {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.change_page {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.step-links_week {
  color: var(--primary-text-color);
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
  padding: 8px;
}

.change_page_back_img {
  transform: rotate(180deg);
}
