{# Template for group member creation form #}

{% extends "base.html" %}

{% load group_extras %}

{% block title %}Create group member{% endblock %}

{% block content %}
        {% with request.path as this_url %}
    {% get_url_params request as url_params %}
    {% if url_params %}
    {% change_query_string this_url|add_str:"?"|add_str:url_params as this_url %}
    {% endif %}
  {# Including page title #}
{% original_query_string next_url as next_url %}
  {% if group %}
    {% if group|get_type == 'Group' %}
      {% include 'page_heading.html' with back_url="group:group_details" back_id=group.group_id page_title="Добавление студента в группу" list_url='group:group_list' next_url=next_url %}
    {% elif group.group_id %}
      {% include 'page_heading.html' with back_url="group:group_details" back_id=group.group_id.group_id page_title="Добавление студента в группу" list_url='group:group_list' next_url=next_url %}
    {% elif group.student_id %}
      {% include 'page_heading.html' with back_url="group:user_details" back_id=group.user_id.id page_title="Добавление студента в группу" list_url='group:group_list' next_url=next_url %}
    {% endif %}
  {% else %}
    {% include 'page_heading.html' with back_url="group:group_list" page_title="Добавление студента в группу" list_url='group:group_list' next_url=next_url %}
  {% endif %}

  {% include 'form_success.html' with form=group_member_form %}
  <form class="register_form register_group_member" method="post">
    {% for field in group_member_form %}
    <div>
      {% if group_member_form.errors %}
          {% for error in field.errors %}
              <div class="errorlist"> {{ error }} </div>
          {% endfor %}
      {% endif %}
      {{ field }}
      {# Links to redirect to another page #}
      {% if field.auto_id == "id_group_semester_id" %}
        {% if group %}
          {% if group|get_type == 'Group' %}
            <a class="register_form_link" href="{% url 'group:group_semester_register' %}?group_id={{group.group_id}}{% if this_url %}&next={{this_url}}{% endif %}">Группы с нужным семестром нет в списке</a>
          {% elif group.group_id %}
            <a class="register_form_link" href="{% url 'group:group_semester_register' %}?group_id={{group.group_id.group_id}}{% if this_url %}&next={{this_url}}{% endif %}">Группы с нужным семестром нет в списке</a>
          {% elif group.student_id %}
            <a class="register_form_link" href="{% url 'group:group_semester_register' %}?student_id={{group.user_id.id}}{% if this_url %}&next={{this_url}}{% endif %}">Группы с нужным семестром нет в списке</a>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
    {% endfor %}
    {% csrf_token %}
    <div>
      <input class="controller_button form_submit_button__reg"
        type="submit"
        value="Добавить" />
    </div>
  </form>
{% endwith %}
{% endblock %}