/* CSS file for add button template */

.list_ctrl_add {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 9px 30px;
  max-width: max-content;

  background: none;
  border: 1px solid var(--secondary-bg-color);
  border-radius: var(--primary-border-radius);
  cursor: pointer;
}

.list_ctrl_add_img {
  height: 12px;
  width: 12px;
  line-height: 14px;
}

.list_ctrl_add_txt {
  text-align: center;
  vertical-align: middle;
  color: var(--secondary-bg-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: right;
}

.list_ctrl_add:hover,
.list_ctrl_add:hover .list_ctrl_add_txt {
  color: var(--secondary-bg-color-hover);
  border-color: var(--secondary-bg-color-hover);
}

.list_ctrl_add:hover .list_ctrl_add_img {
  filter: var(--secondary-bg-color-filter);
}

.list_ctrl_add:hover .tooltiptext {
  visibility: visible;
}
