/* CSS file for blue button template */

.list_ctrl_add__blue {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 9px 30px;
  max-width: max-content;

  background-color: var(--secondary-bg-color);
  border: 1px solid var(--secondary-bg-color);
  border-radius: var(--primary-border-radius);
  cursor: pointer;
}

.list_ctrl_add_img__blue {
  height: 12px;
  width: 12px;
  line-height: 14px;
  filter: var(--header-text-color-filter);
}

.list_ctrl_add_txt__blue {
  text-align: center;
  vertical-align: middle;
  color: var(--header-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: right;
}

.list_ctrl_add__blue:hover {
  background-color: var(--secondary-bg-color-hover);
  border-color: var(--secondary-bg-color-hover);
}

.list_ctrl_add__blue:hover .tooltiptext {
  visibility: visible;
}
