/* CSS file for pagination template */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 10px 0;
}

.step-links {
  display: flex;
}

.change_page {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.current_page {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
  padding: 8px;
}

.change_page_back_img {
  transform: rotate(180deg);
}

.change_page_back:hover .change_page_back_img {
  filter: var(--primary-button-filter);
}

.change_page_next:hover .change_page_next_img {
  filter: var(--primary-button-filter);
}
