{# Template for user data login #}

{% extends "base.html" %}

{% load group_extras %}

{% block page_scripts %}
  {% load static %}
  <link href="{% static 'css/page_heading.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Вход{% endblock %}

{% block content %}
  {# Including page title #}
  {% original_query_string next as next_url %}
  {% include "page_heading.html" with back_url="account:login" page_title="Вход" next_url=next_url %}

  <form class="register_form register_lesson_time" action="{% url 'account:login' %}" method="post">
    {{ form.as_div }}
    {% csrf_token %}
    <div>
      <input type="hidden" name="next" value="{% original_query_string next %}" />
      <input class="controller_button form_submit_button__reg" type="submit" value="Войти">
    </div>
  </form>
  <div>
    <a class="register_form_link" href="{% url 'account:password_reset' %}">
      Забыли пароль?
    </a>
  </div>
{% endblock %}