{# Template for user data login #}

{% extends "base.html" %}

{% block page_scripts %}
  {% load static %}
  <link href="{% static 'css/page_heading.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Вход{% endblock %}

{% block content %}
  <h1 class="page_heading_title page_heading_wrapper">Вход</h1>
   {% if form.errors %}
      <p class="form_object_description">
        Имя пользователя или пароль не верные.<br/>
        Попробуйте еще раз.
      </p>
  {% endif %}
  <form class="register_form register_lesson_time" action="{% url 'account:login' %}" method="post">
    {{ form.as_div }}
    {% csrf_token %}
    <div>
      <input type="hidden" name="next" value="{{ next }}" />
      <input class="controller_button form_submit_button__reg" type="submit" value="Войти">
    </div>
  </form>
  <div>
    <a class="register_form_link" href="{% url 'account:password_reset' %}">
      Забыли пароль?
    </a>
  </div>
{% endblock %}