{# Template for reset user's password #}

{% extends "base.html" %}

{% load group_extras %}

{% block page_scripts %}
  {% load static %}
  <link href="{% static 'css/page_heading.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  {# Including page title #}
  {% original_query_string next as next_url %}
  {% include "page_heading.html" with back_url="account:user_details" back_id=request.user.id page_title="Восстановление пароля" next_url=next_url %}
<p class="form_object_description">Введите Ваш email для получения нового пароля.</p>
  <form class="register_form register_lesson_time" method="post">
    {{ form.as_div }}
    {% csrf_token %}
    <div>
      <input class="controller_button form_submit_button__reg" type="submit" value="Получить пароль">
    </div>
  </form>
{% endblock %}