{# Template for user password changing #}

{% extends "base.html" %}

{% load group_extras %}

{% block page_scripts %}
  {% load static %}
  <link href="{% static 'css/page_heading.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Change your password{% endblock %}

{% block content %}
  {# Including page title #}
  {% original_query_string next as next_url %}
  {% include "page_heading.html" with back_url="account:user_details" back_id=request.user.id page_title="Изменение пароля" next_url=next_url %}

  <form class="register_form register_lesson_time" method="post">
    {{ form.as_div }}
    <div>
      <input class="controller_button form_submit_button__reg" type="submit" value="Изменить">
    </div>
    {% csrf_token %}
  </form>
{% endblock %}