{% extends "base.html" %}

{% block title %}Change your password{% endblock %}

{% block content %}
  <h1>Изменение пароля</h1>
  <p>Воспользуйтесь формой ниже для изменения пароля.</p>
  <form method="post">
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><input type="submit" value="Изменить"></p>
    {% csrf_token %}
  </form>
{% endblock %}