{# Template for user password changing #}

{% extends "base.html" %}

{% block page_scripts %}
  {% load static %}
  <link href="{% static 'css/page_heading.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Change your password{% endblock %}

{% block content %}
  <h1 class="page_heading_title page_heading_wrapper">Изменение пароля</h1>
  <form class="register_form register_lesson_time" method="post">
    {{ form.as_div }}
    <div>
      <input class="controller_button form_submit_button__reg" type="submit" value="Изменить">
    </div>
    {% csrf_token %}
  </form>
{% endblock %}